{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-xxl mt-4 mb-3">
        <div class="row justify-content-between">
                <h1>Программы обучения</h1>
        </div>
    </div>
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link active" href="#" id="lProgramsTabPrograms">Программы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="lProgramsTabPhases">Этапы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="lProgramsTabLessons">Уроки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="lProgramsTabHW">ДЗ</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="bi bi-plus-lg"></i></a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" id="lProgramsAddProgramButton" href="#" data-bs-toggle="modal" data-bs-target="#modalLProgramProgram">Программа</a></li>
                <li><a class="dropdown-item" id="lProgramsAddPhaseButton" href="#" data-bs-toggle="modal" data-bs-target="#modalLProgramPhase">Этап</a></li>
                <li><a class="dropdown-item" id="lProgramsAddLessonButton" href="#" data-bs-toggle="modal" data-bs-target="#modalLProgramLesson">Урок</a></li>
                <li><a class="dropdown-item" id="lProgramsAddHWButton" href="#" data-bs-toggle="modal" data-bs-target="#modalLProgramHW">ДЗ</a></li>
            </ul>
        </li>
    </ul>

    <div class="accordion" id="lProgramsAccordion"></div>

    {% include 'materials_embed_program_modal.html' %}
    {% include 'learning_programs_modals.html' %}
    {% include 'toast.html' %}
{% endblock %}
{% block static_js %}
    <script>
        const csrftoken = '{{ csrf_token }}'
        let materialEmbedAction
    </script>
    <script src="{% static 'js/toasts.js' %}"></script>
    <script src="{% static 'js/apitostr.js' %}"></script>
    <script src="{% static 'js/programs/programsAPI.js' %}"></script>
    <script src="{% static 'js/materials/materials_api.js' %}"></script>
    <script src="{% static 'js/materials/materials_embed.js' %}"></script>
    <script src="{% static 'js/programs/programs_hw.js' %}"></script>
    <script src="{% static 'js/programs/programs_lesson.js' %}"></script>
    <script src="{% static 'js/programs/programs_phase.js' %}"></script>
    <script src="{% static 'js/programs/programs_program.js' %}"></script>
    <script src="{% static 'js/programs/programs_main.js' %}"></script>
{% endblock %}