{% extends 'base_mobile.html' %}
{% load static %}
{% block content %}
    <div id="lessonMobileListBlock">
        <div class="mb-3 d-flex" style="overflow-x: scroll;">
            <button id="lessonsMobileSetFieldsButton" type="button" class="btn btn-sm btn-outline-primary mx-1"><i class="bi bi-gear"></i></button>
            <button id="lessonsMobileSetFiltersButton" type="button" class="btn btn-sm btn-outline-primary mx-1"><i class="bi bi-funnel"></i></button>
            <button id="lessonsMobileSetAllButton" type="button" class="btn btn-sm btn-outline-primary mx-1 active">Все</button>
            <button id="lessonsMobileSetPassedButton" type="button" class="btn btn-sm btn-outline-primary mx-1">Проведённые</button>
        </div>
        <div>
            <div class="input-group mb-3">
                <input id="lessonsMobileFilterNameField" type="text" class="form-control form-control-sm" placeholder="Поиск по наименованию" aria-label="">
                <button id="lessonsMobileFilterNameFieldErase" class="btn btn-sm btn-outline-danger" type="button"><i class="bi bi-eraser"></i></button>
            </div>
        </div>
        <ul class="list-group px-0" id="lessonsMobileList"></ul>
    </div>



    <div id="lessonsMobileListLoadingSpinner" class="d-flex justify-content-center w-100 d-none">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>

    {% include "mobile/lessons_set_fields.html" %}
    {% include "mobile/lessons_set_filters.html" %}
    {% if is_admin %}
        {% include "mobile/lessons_list_admin_comment.html" %}
    {% endif %}
{% endblock %}
{% block static_js %}
    <script src="{% static 'js/users/users_api.js' %}"></script>
    <script src="{% static 'js/universal_field_validator.js' %}"></script>
    <script src="{% static 'js/collections/collections_api.js' %}"></script>
    <script src="{% static 'js/lessons/lessons_api.js' %}"></script>
    <script src="{% static 'js/homework/homework_utils.js' %}"></script>
    <script src="{% static 'js/homework/homework_api.js' %}"></script>
    <script src="{% static 'js/homework/homework_item_show_offcanvas.js' %}"></script>
    <script src="{% static 'js/lessons/mobile/lessons_list_element.js' %}"></script>
    <script src="{% static 'js/lessons/mobile/lessons_list_filters.js' %}"></script>
    <script src="{% static 'js/lessons/mobile/lessons_list_set_fields.js' %}"></script>
    {% if is_admin %}
        <script src="{% static 'js/lessons/mobile/lessons_list_admin_comment.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/lessons/mobile/lessons_list.js' %}"></script>
{% endblock %}