<div class="modal modal-lg fade" tabindex="-1" id="lessonsMobileAdminCommentModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Комментарий администратора</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="lessonsMobileAdminCommentModalCommentField" class="form-label">Комментарий</label>
                    <textarea class="form-control" id="lessonsMobileAdminCommentModalCommentField" rows="10"></textarea>
                    <div id="lessonsMobileAdminCommentModalCommentError" class="invalid-feedback"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button id="lessonsMobileAdminCommentModalDelete" type="button" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
                <button id="lessonsMobileAdminCommentModalSave" type="button" class="btn btn-success"><i class="bi bi-floppy"></i> Сохранить</button>
            </div>
        </div>
    </div>
</div>