<div class="modal modal-lg fade" tabindex="-1" id="lessonsMobileSetFieldsModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Настройка полей</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="lessonsMobileSetFieldsModalDateSwitch">
                    <label class="form-check-label" for="lessonsMobileSetFieldsModalDateSwitch">Дата занятия</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="lessonsMobileSetFieldsModalTimeSwitch">
                    <label class="form-check-label" for="lessonsMobileSetFieldsModalTimeSwitch">Время занятия</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="lessonsMobileSetFieldsModalTeacherSwitch">
                    <label class="form-check-label" for="lessonsMobileSetFieldsModalTeacherSwitch">Преподаватель</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="lessonsMobileSetFieldsModalListenersSwitch">
                    <label class="form-check-label" for="lessonsMobileSetFieldsModalListenersSwitch">Ученики</label>
                </div>
                {% if is_admin %}
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="lessonsMobileSetFieldsModalAdminCommentSwitch">
                        <label class="form-check-label" for="lessonsMobileSetFieldsModalAdminCommentSwitch">Комментарий администратора</label>
                    </div>
                {% endif %}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button id="lessonsMobileSetFieldsModalAcceptButton" type="button" class="btn btn-success">Применить</button>
            </div>
        </div>
    </div>
</div>