{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-xxl mt-4 mb-3">
        <div class="row justify-content-between">
            <h1>Программы обучения</h1>
        </div>
    </div>
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link active" href="#" id="lProgramsTabPrograms">Программы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="lProgramsTabPhases">Этапы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="lProgramsTabLessons">Уроки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="lProgramsTabHW">ДЗ</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="bi bi-plus-lg"></i></a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" id="lProgramsAddProgramButton" href="#" data-bs-toggle="modal" data-bs-target="#modalLProgramProgram">Программа</a></li>
                <li><a class="dropdown-item" id="lProgramsAddPhaseButton" href="#" data-bs-toggle="modal" data-bs-target="#modalLProgramPhase">Этап</a></li>
                <li><a class="dropdown-item" id="lProgramsAddLessonButton" href="#" data-bs-toggle="modal" data-bs-target="#modalLProgramLesson">Урок</a></li>
                <li><a class="dropdown-item" id="lProgramsAddHWButton" href="#" data-bs-toggle="modal" data-bs-target="#modalLProgramHW">ДЗ</a></li>
            </ul>
        </li>
    </ul>

    <div class="accordion" id="lProgramsAccordion"></div>

    {% include 'materials_embed_program_modal.html' %}
    {% include 'learning_programs_modals.html' %}
{% endblock %}
{% block static_js %}
    <script>
        let materialEmbedAction
        const see_general = {% if perms.material.see_all_general %}true{% else %}false{% endif %}
        const mediaFormats = {
            imageFormats: {{ material_formats.image_formats | safe }},
            videoFormats: {{ material_formats.video_formats | safe }},
            animationFormats: {{ material_formats.animation_formats | safe }},
            archiveFormats: {{ material_formats.archive_formats | safe }},
            pdfFormats: {{ material_formats.pdf_formats | safe }},
            voiceFormats: {{ material_formats.voice_formats | safe }},
            audioFormats: {{ material_formats.audio_formats | safe }},
            textFormats: {{ material_formats.text_formats | safe }},
            presentationFormats: {{ material_formats.presentation_formats | safe }}
        }
    </script>
    <script src="{% static 'js/collections/collections_api.js' %}"></script>
    <script src="{% static 'js/programs/programsAPI.js' %}"></script>
    <script src="{% static 'js/materials/materials_api.js' %}"></script>
    <script src="{% static 'js/materials/materials_utils.js' %}"></script>
    <script src="{% static 'js/materials/materials_embed.js' %}"></script>
    <script src="{% static 'js/programs/programs_hw.js' %}"></script>
    <script src="{% static 'js/programs/programs_lesson.js' %}"></script>
    <script src="{% static 'js/programs/programs_phase.js' %}"></script>
    <script src="{% static 'js/programs/programs_program.js' %}"></script>
    <script src="{% static 'js/programs/programs_main.js' %}"></script>
{% endblock %}


<div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapsePhases${phase.id}Lessons" aria-expanded="false" aria-controls="accordionCollapsePhases${phase.id}Lessons">
                Этапы обучения</button>
        </h2>
        <div id="accordionCollapsePhases${phase.id}Lessons" class="accordion-collapse collapse">
            <div class="accordion-body"></div>
        </div>
    </div>
</div>