<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRegister" aria-labelledby="offcanvasRegisterLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRegisterLabel">Новый пользователь</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="formRegistration">
            {% csrf_token %}

            <div class="mb-3">
                <label for="RegisterUserUsernameField" class="form-label">username/логин</label>
                <input name="username" type="text" class="form-control" id="RegisterUserUsernameField">
                <div class="form-text">Нужен для входа пользователя в систему</div>
                <div class="invalid-feedback" id="RegisterUserUsernameError"></div>
            </div>

            <div class="input-group mb-3">
                <input id="RegisterUserLastNameField" name="last_name" type="text" class="form-control" aria-label="Фамилия" aria-describedby="RegisterUserName" placeholder="Фамилия">
                <input id="RegisterUserFirstNameField" name="first_name" type="text" class="form-control" aria-label="Имя" aria-describedby="RegisterUserName" placeholder="Имя">
                <div class="invalid-feedback" id="RegisterUserNameField"></div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="ShowUserLastName">Пароль</span>
                <input  id="RegisterUserPasswordField" name="password1" type="text" class="form-control" aria-label="Пароль" aria-describedby="RegisterUserPassword">
                <div id="RegisterUserPasswordErrors" class="invalid-feedback">
                </div>
            </div>

            <select name="role" class="form-select mb-3" aria-label="">
                <option value="Listener" selected>Ученик</option>
                <option value="Teacher">Преподаватель</option>
                <option value="Metodist">Методист</option>
                <option value="Admin">Администратор</option>
            </select>

            <button id="UserRegistrationButton" type="button" class="btn btn-primary">Зарегистрировать</button>

        </form>
    </div>
</div>