<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRegister" aria-labelledby="offcanvasRegisterLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRegisterLabel">Новый пользователь</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="formRegistration">
            {% csrf_token %}

            <div class="mb-3">
                <label for="RegisterUserUsernameField" class="form-label">username/логин</label>
                <input name="username" type="text" class="form-control" id="RegisterUserUsernameField">
                <div class="form-text">Нужен для входа пользователя в систему</div>
                <div class="invalid-feedback" id="RegisterUserUsernameError"></div>
            </div>

            <div class="input-group mb-3">
                <input id="RegisterUserLastNameField" name="last_name" type="text" class="form-control" aria-label="Фамилия" aria-describedby="RegisterUserName" placeholder="Фамилия">
                <input id="RegisterUserFirstNameField" name="first_name" type="text" class="form-control" aria-label="Имя" aria-describedby="RegisterUserName" placeholder="Имя">
                <div class="invalid-feedback" id="RegisterUserNameField"></div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="ShowUserLastName">Пароль</span>
                <input  id="RegisterUserPasswordField" name="password1" type="text" class="form-control" aria-label="Пароль" aria-describedby="RegisterUserPassword">
                <div id="RegisterUserPasswordErrors" class="invalid-feedback">
                </div>
            </div>

            <div class="mb-3">
                {% if "auth.register_admin" in perms %}
                    <input name="role" value="Admin" type="checkbox" class="btn-check" id="UserRegisterRoleCheckboxAdmin" autocomplete="off">
                    <label class="btn btn-outline-primary mb-1" for="UserRegisterRoleCheckboxAdmin">Администратор</label>
                {% endif %}
                {% if "auth.register_metodist" in perms %}
                    <input name="role" value="Metodist" type="checkbox" class="btn-check" id="UserRegisterRoleCheckboxMetodist" autocomplete="off">
                    <label class="btn btn-outline-primary mb-1" for="UserRegisterRoleCheckboxMetodist">Методист</label>
                {% endif %}
                {% if "auth.register_teacher" in perms %}
                    <input name="role" value="Teacher" type="checkbox" class="btn-check" id="UserRegisterRoleCheckboxTeacher" autocomplete="off">
                    <label class="btn btn-outline-primary mb-1" for="UserRegisterRoleCheckboxTeacher">Преподаватель</label>
                {% endif %}
                {% if "auth.register_curator" in perms %}
                    <input name="role" value="Curator" type="checkbox" class="btn-check" id="UserRegisterRoleCheckboxCurator" autocomplete="off" disabled>
                    <label class="btn btn-outline-primary mb-1" for="UserRegisterRoleCheckboxCurator">Куратор</label>
                {% endif %}
                {% if "auth.register_listener" in perms %}
                    <input name="role" value="Listener" type="checkbox" class="btn-check" id="UserRegisterRoleCheckboxListener" autocomplete="off">
                    <label class="btn btn-outline-primary mb-1" for="UserRegisterRoleCheckboxListener">Ученик</label>
                {% endif %}
            </div>

            <button id="UserRegistrationButton" type="button" class="btn btn-primary">Зарегистрировать</button>

        </form>
    </div>
</div>