<div class="modal" tabindex="-1" id="UserChangePasswordModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Смена пароля</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="UserChangePasswordModalForm">
                    <div class="mb-3">
                        <label for="UserChangePasswordModalField" class="form-label">Новый пароль</label>
                        <input name="password" type="text" class="form-control" id="UserChangePasswordModalField">
                        <div class="form-text">Пароль должен содержать буквы и цифры</div>
                        <div class="invalid-feedback" id="UserChangePasswordModalError"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="UserChangePasswordModalChangeButton" type="button" class="btn btn-primary" data-user-id="">Сменить пароль</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="UserShowTelegramModalDisconnectConfirm">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Отвязка Telegram</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы собираетесь отвязать Telegram. Это действие необратимо.<br><br>
                Вы уверены?
            </div>
            <div class="modal-footer">
                <button id="UserShowTelegramModalDisconnectConfirmDelete" type="button" class="btn btn-danger">Отвязать</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>