{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-xxl mt-4">
        <div class="row justify-content-between">
            <div class="col-auto">
                <h1>Пользователи</h1>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary mt-1" data-bs-toggle="collapse" data-bs-target="#UsersCollapseSearch"><i class="fa-solid fa-magnifying-glass"></i></button>
                {% if "auth.register_users" in perms %}
                    <button type="button" class="btn btn-primary mt-1" data-bs-toggle="offcanvas" href="#offcanvasRegister" role="button"><i class="fa-solid fa-plus"></i></button>
                    {% include 'users/offcanvas_register.html' %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="collapse mb-3" id="UsersCollapseSearch">
        <div class="card card-body">
            <form id="UsersCollapseSearchForm">
                <div class="row g-3">
                    <div class="col-md-3">
                        <input name="username" id="UsersCollapseSearchUsername" type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="col-md-6">
                        <input name="name" id="UsersCollapseSearchName" type="text" class="form-control" placeholder="ФИ">
                    </div>
                    <div class="col-md-3">
                        <select name="role" id="UsersCollapseSearchRole" class="form-select">
                            <option selected value="none">Роль</option>
                            <option value="Listener">Ученик</option>
                            <option value="Teacher">Преподаватель</option>
                            <option value="Metodist">Методист</option>
                            <option value="Admin">Администратор</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Фамилия и имя</th>
            <th scope="col">Роль</th>
        </tr>
        </thead>
        <tbody id="UsersTableBody">
        </tbody>
    </table>
    {% include 'users/offcanvas_user.html' %}
    {% include 'users/modal_telegram.html' %}
    {% include 'users/users_modal_change_password.html' %}
    {% include 'toast.html' %}
{% endblock %}
{% block static_js %}
    <script>
        var csrftoken = '{{ csrf_token }}';
        const userPermissions = JSON.parse("{{ perms|escapejs }}")
    </script>
    <script src="{% static 'js/toasts.js' %}"></script>
    <script src="{% static 'js/users/users.js' %}"></script>
    <script src="{% static 'js/users/registration.js' %}"></script>
    <script src="{% static 'js/users/telegram.js' %}"></script>
    <script src="{% static 'js/users/photo.js' %}"></script>
    <script src="{% static 'js/users/users_change_password.js' %}"></script>
    <script src="{% static 'js/users/edit.js' %}"></script>
    <script src="{% static 'js/users/search.js' %}"></script>
{% endblock %}