<div class="modal modal-lg fade" tabindex="-1" id="usersLearningInfoModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Информация об обучении</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="usersLearningInfoModalTabLessons">Занятия</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="usersLearningInfoModalTabHomeworks">ДЗ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#" id="usersLearningInfoModalTabPlans">Планы обучения</a>
                    </li>
                    <li class="nav-item">
                        <a id="usersLearningInfoModalFilterA" target="_blank" href="#"><button class="btn btn-primary mb-1"><i class="bi bi-funnel"></i></button></a>
                        <a id="usersLearningInfoModalAddA" target="_blank" href="#"><button id="usersLearningInfoModalAddButton" class="btn btn-primary mb-1"></button></a>
                    </li>
                </ul>
                <table class="table table-hover">
                    <thead id="usersLearningInfoModalTableHead">
                    </thead>
                    <tbody id="usersLearningInfoModalTableBody">
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>