{% extends 'ma_base.html' %}
{% load static %}
{% block content %}
    <div class="container m-1">
        <div class="row">
            <ul class="nav nav-pills mb-3" id="homeworkListMATabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button id="homeworkListMAFiltersButton" class="nav-link" type="button" role="tab">
                        <i class="bi bi-funnel"></i></button>
                </li>
            </ul>

            <div class="input-group mb-1">
                <input id="homeworkListMAFilterName" type="text" class="form-control form-control-sm" placeholder="Поиск по наименованию" aria-label="">
                <button id="homeworkListMAFilterNameErase" class="btn btn-sm btn-outline-danger" type="button"><i class="bi bi-eraser"></i></button>
            </div>
        </div>
        <div id="homeworkListMAList"></div>
    </div>

{% endblock %}
{% block static_js %}
    <script>
        const homeworkListMASettingTeacher = {% if settings.show_teacher %}true{% else %}false{% endif %}
        const homeworkListMASettingListener = {% if settings.show_listener %}true{% else %}false{% endif %}
        const homeworkListMASettingAgreementFilter = {% if settings.show_agreement_filter %}true{% else %}false{% endif %}
        const homeworkListMATabsInfo = []
        {% for tab in tabs %}
            homeworkListMATabsInfo.push({
                name: "{{ tab.name }}",
                statuses: [{% for status in tab.statuses %}{{ status }},{% endfor %}],
                {% if tab.need_agreement is not None %}
                    {% if tab.need_agreement %}
                        need_agreement: true,
                    {% else %}
                        need_agreement: false,
                    {% endif %}
                {% endif %}
            })
        {% endfor %}
    </script>
    <script src="{% static 'js/homework/homework_api.js' %}"></script>
    <script src="{% static 'js/homework/homework_utils.js' %}"></script>
    <script src="{% static 'js/homework/ma/homework_list_filter.js' %}"></script>
    <script src="{% static 'js/homework/ma/homework_list.js' %}"></script>
{% endblock %}
