<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/@jarstone/dselect/dist/css/dselect.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/styles_mobile.css' %}">
    {% block static_css %} {% endblock %}
</head>
<body>
<div class="container" id="mobileContainer">
    <div class="row" id="mobileTitle">
        <h1 class="page_title" id="mobileTitleH">{{ title }}</h1>
    </div>
    <div class="row" id="mobileContent">
        {% block content %} {% endblock %}
    </div>
    <div class="row">
        <div id="mobileNavbarDropdown" class="mobile-nav-dropdown-element mobile-nav-dropdown-content d-none"></div>
        <nav id="mobileNavbar" class="mobile-nav">
            <div id="mobileNavbarChatButton" class="bloc-icon{% if menu == "msg" %} active{% endif %}">
                <img {% if menu_m == "msg" %}id="mobileNavbarActiveButton"{% endif %} src="{% static 'icons/chats.svg' %}" alt="Диалоги">
                <span>Диалоги</span>
            </div>
            <div id="mobileNavbarLessonsButton" class="bloc-icon{% if menu == "lesson" %} active{% endif %}">
                <img {% if menu_m == "lesson" %}id="mobileNavbarActiveButton"{% endif %} src="{% static 'icons/lesson.svg' %}" alt="Занятия">
                <span>Занятия</span>
            </div>
            <div id="mobileNavbarHomeworkButton" class="bloc-icon{% if menu == "hw" %} active{% endif %}">
                <img{% if menu_m == "hw" %} id="mobileNavbarActiveButton"{% endif %} src="{% static 'icons/homework.svg' %}" alt="ДЗ">
                <span>ДЗ</span>
            </div>
            <div id="mobileNavbarMenuButton" class="mobile-nav-dropdown-element bloc-icon">
                <img class="mobile-nav-dropdown-element" src="{% static 'icons/menu.svg' %}" alt="Меню">
                <span class="mobile-nav-dropdown-element" >Меню</span>
            </div>
        </nav>
    </div>
</div>
{% include 'support_ticket_modal.html' %}
{% include "material_preview_modal.html" %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@jarstone/dselect/dist/js/dselect.js"></script>
<script>
    ["dragover", "drop"].forEach((event) => {
        document.addEventListener(event, function(evt) {
            evt.preventDefault()
            return false
        })
    })
    const csrftoken = '{{ csrf_token }}'
    const isAdmin = {% if is_admin %}true{% else %}false{% endif %}
    const isMethodist = {% if is_methodist %}true{% else %}false{% endif %}
    const isTeacher = {% if is_teacher %}true{% else %}false{% endif %}
    const isCurator = {% if is_curator %}true{% else %}false{% endif %}
    const isListener = {% if is_listener %}true{% else %}false{% endif %}
    const isMobile = true
    const tgID = {% if tg_id %} {{ tg_id }}{% else %}null{% endif %}
    const supportedExtensions = {{ supported_extensions|safe }}
</script>
<script src="{% static 'js/mobile_template_engine.js' %}"></script>
<script src="{% static 'js/apitostr.js' %}"></script>
<script src="{% static 'js/collections/collections_api.js' %}"></script>
<script src="{% static 'js/homework/homework_api.js' %}"></script>
<script src="{% static 'js/materials/materials_api.js' %}"></script>
<script src="{% static 'js/lessons/lessons_api.js' %}"></script>
<script src="{% static 'js/programs/programsAPI.js' %}"></script>
<script src="{% static 'js/support/support_api.js' %}"></script>
<script src="{% static 'js/telegram/telegram_api.js' %}"></script>
<script src="{% static 'js/users/users_api.js' %}"></script>
<script src="{% static 'js/materials_preview.js' %}"></script>
<script src="{% static 'js/userutils.js' %}"></script>
<script src="{% static 'js/timeutils.js' %}"></script>
<script src="{% static 'js/hashutils.js' %}"></script>
<script src="{% static 'js/cookies_utils.js' %}"></script>
<script src="{% static 'js/support/support.js' %}"></script>
<script src="{% static 'js/toasts.js' %}"></script>
<script src="{% static 'js/icon_utils.js' %}"></script>
<script src="{% static 'js/universal_field_validator.js' %}"></script>
<script src="{% static 'js/unversal_info_mobile.js' %}"></script>
<script src="{% static 'js/lessons/lesson_utils.js' %}"></script>
<script src="{% static 'js/materials/materials_utils.js' %}"></script>
<script src="{% static 'js/homework/homework_utils.js' %}"></script>
{% block static_js %} {% endblock %}
</body>
</html>