{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-xxl mt-4 mb-3">
        <div class="row justify-content-between">
            <div class="col-auto">
                <h1>Журнал действий Telegram</h1>
            </div>
            <div class="col-auto">
                <button id="tgJournalFilterResetAll" type="button" class="btn btn-danger" role="button"><i class="bi bi-funnel-fill"></i>Сбросить фильтры</button>
            </div>
        </div>
    </div>
    <div class="container-xxl">
        <div class="container-xxl">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <b>Событие</b></button>
                            <ul id="tgJournalFilterEvent" class="dropdown-menu" style="min-width: 250px;">
                                <li class="input-group px-1">
                                    <input id="tgJournalFilterEventSearchField" type="text" class="form-control form-control-sm" placeholder="Поиск: " aria-label="Поиск">
                                    <button id="tgJournalFilterEventSearchFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                                <li><a class="dropdown-item" href="#" data-event-number="3">Домашнее заданее: новое</a></li>
                                <li><a class="dropdown-item" href="#" data-event-number="4">Домашнее заданее: сдача/проверка</a></li>
                                <li><a class="dropdown-item" href="#" data-event-number="0">Другое</a></li>
                                <li><a class="dropdown-item" href="#" data-event-number="6">Материалы: автоматическая отправка</a></li>
                                <li><a class="dropdown-item" href="#" data-event-number="5">Материалы: ручная отправка</a></li>
                                <li><a class="dropdown-item" href="#" data-event-number="2">Напоминание о занятии</a></li>
                                <li><a class="dropdown-item" href="#" data-event-number="7">Новое сообщение</a></li>
                                <li><a class="dropdown-item" href="#" data-event-number="1">Расписание на завтра</a></li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <b>Дата и время</b></button>
                            <ul class="dropdown-menu" style="min-width: 340px;">
                                <li class="input-group px-1 my-1">
                                    <span class="input-group-text">Дата</span>
                                    <input id="tgJournalFilterDateFromField" type="date" class="form-control form-control-sm" aria-label="">
                                    <input id="tgJournalFilterDateToField" type="date" class="form-control form-control-sm" aria-label="">
                                    <button id="tgJournalFilterDateFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                                <li class="input-group px-1 my-1">
                                    <span class="input-group-text">Время</span>
                                    <input id="tgJournalFilterTimeFromField" type="time" class="form-control form-control-sm" aria-label="">
                                    <input id="tgJournalFilterTimeToField" type="time" class="form-control form-control-sm" aria-label="">
                                    <button id="tgJournalFilterTimeFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <b>Инициатор</b></button>
                            <ul id="tgJournalFilterInitiatorList" class="dropdown-menu" style="min-width: 250px;">
                                <li class="input-group px-1">
                                    <input id="tgJournalFilterInitiatorSearchField" type="text" class="form-control form-control-sm" placeholder="Поиск: " aria-label="Поиск">
                                    <button id="tgJournalFilterInitiatorSearchFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <b>Получатель</b></button>
                            <ul id="tgJournalFilterRecipientList" class="dropdown-menu" style="min-width: 250px;">
                                <li class="input-group px-1">
                                    <input id="tgJournalFilterRecipientSearchField" type="text" class="form-control form-control-sm" placeholder="Поиск: " aria-label="Поиск">
                                    <button id="tgJournalFilterRecipientSearchFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <b>Статус</b></button>
                            <ul id="tgJournalFilterStatus" class="dropdown-menu" style="min-width: 250px;">
                                <li><a class="dropdown-item" href="#" data-status="success">Успех</a></li>
                                <li><a class="dropdown-item" href="#" data-status="error">Ошибка</a></li>
                            </ul>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody id="tgJournalTableBody"></tbody>
            </table>
            <button id="tgJournalTableShowMoreButton" class="btn btn-primary d-none">Показать ещё</button>
        </div>
    </div>
    {% include 'tgbot_journal_status.html' %}

{% endblock %}
{% block static_js %}
    <script src="{% static 'js/users/users_api.js' %}"></script>
    <script src="{% static 'js/telegram/telegram_api.js' %}"></script>
    <script src="{% static 'js/telegram/telegram_journal.js' %}"></script>
    <script src="{% static 'js/telegram/telegram_journal_filter.js' %}"></script>
    <script src="{% static 'js/telegram/telegram_journal_status.js' %}"></script>
{% endblock %}