<div class="modal modal-lg fade" tabindex="-1" id="tgJournalStatusModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Событие</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-3">
                    <div class="card-header"><b>Общая информация</b></div>
                    <div class="card-body">
                        <p class="card-text" id="tgJournalStatusModalInfo"></p>
                    </div>
                </div>
                <div class="card mb-3" id="tgJournalStatusModalTextCard">
                    <div class="card-header"><b>Текст сообщения</b></div>
                    <div class="card-body">
                        <p class="card-text" id="tgJournalStatusModalText"></p>
                    </div>
                </div>
                <div class="card mb-3" id="tgJournalStatusModalErrorsCard">
                    <div class="card-header"><b>Ошибки</b></div>
                    <div class="card-body">
                        <p class="card-text" id="tgJournalStatusModalErrors"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>