<div class="modal modal-lg" tabindex="-1" id="HWItemLogModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="HWItemLogModalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="HWItemLogModalBody">
                <p id="HWItemLogModalComment"></p>
                <div class="row" id="HWItemLogModalFilesImages"></div>
                <div class="row" id="HWItemLogModalFilesAudio"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>