<div class="modal modal-lg" tabindex="-1" id="hwItemCancelModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Отмена ДЗ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">При отмене ДЗ оно не будет видно у ученика. Действие обратимо путём удаления записи в истории ДЗ<br>Вы уверены?</div>
            <div class="modal-footer">
                <button id="hwItemCancelModalDeleteButton" type="button" class="btn btn-danger">Отменить</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>