{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-xxl mt-4 mb-3">
        <h1>{{ hw.name }}</h1>
    </div>
    <div id="contentBody" class="row"></div>
{% endblock %}
{% block static_js %}
    <script>
        homeworkAPIGetItem({{ hw.id }}).then(request => {
            if (request.status === 200){
                const hwUtils = new homeworkUtils(request.response)
                hwUtils.generateOnPage(document.querySelector("#contentBody"))
            } else {
                const toast = new toastEngine()
                switch (request.status){
                    case 403:
                        toast.setError("Нет доступа")
                        break
                    case 404:
                        toast.setError("ДЗ не найдено")
                        break
                    default:
                        toast.setError()
                        break
                }
                toast.show()
            }
        })
    </script>
{% endblock %}