<div class="modal modal-lg" tabindex="-1" id="HWItemCheckModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Проверка ДЗ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="HWItemCheckModalForm">
                    <div class="mb-3">
                        <label for="HWItemCheckModalFormCommentField" class="form-label">Комментарий</label>
                        <textarea name="comment" type="text" rows="5" class="form-control" id="HWItemCheckModalFormCommentField"></textarea>
                        <div class="form-text">Похвалите ученика или опишите замечания. При необходимости приложите изображения</div>
                    </div>
                    <div class="mb-3">
                        <label for="HWItemCheckModalFormFileField" class="form-label">Файлы</label>
                        <input multiple name="files" type="file" class="form-control" id="HWItemCheckModalFormFileField">
                        <div class="form-text">Вы можете прикрепить несколько изображений<br>Для этого на компьютере при выборе файла зажмите клавишу CTRL</div>
                    </div>
                </form>
                <div class="card d-none" id="HWItemCheckModalAnswer">
                    <h5 class="card-header">Решение ученика</h5>
                    <div class="card-body" id="HWItemCheckModalAnswerBody"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button id="HWItemCheckModalAcceptButton" type="button" class="btn btn-success">Принять</button>
                <button id="HWItemCheckModalDeclineButton" type="button" class="btn btn-warning">На доработку</button>
            </div>
        </div>
    </div>
</div>