{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-xxl mt-4 mb-3">
        <h1>{{ hw.name }}</h1>
    </div>

    <div class="container-xxl">
        <div class="row">
            <div class="col-6">
                <div class="card mb-3">
                    <div class="card-header">Домашнее задание</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Описание:<br>
                                {{ hw.description }}</li>
                            <li class="list-group-item">Проверяющий: <a href="/profile/{{ hw.teacher.id }}">{{ hw.teacher }}</a>
                                {% if can_set_replace %}
                                    <button id="LessonItemReplaceTeacherButton" type="button" class="btn btn-primary btn-sm ms-2" data-bs-toggle="modal" data-bs-target="#LessonItemReplaceTeacherModal"><i class="bi bi-person-gear"></i></button>
                                    {% include "modal_set_replace.html" %}
                                {% endif %}
                            </li>
                            <li class="list-group-item">Ученик: <a href="/profile/{{ hw.listener.id }}">{{ hw.listener }}</a></li>
                            <li class="list-group-item">Выполнить до: {{ hw.deadline }}</li>
                            <li class="list-group-item">Статус: <span id="hwItemStatus"></span></li>
                        </ul>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">Материалы
                        <button id="hwItemAddMaterialsTG" class="btn-primary btn btn-sm d-none"><i class="bi bi-plus-lg"></i> <i class="bi bi-telegram"></i></button>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for material in hw.materials.all %}
                                <li class="list-group-item">
                                    <a href="/materials/{{ material.id }}">{{ material.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3">
                    <div class="card-header">Действия</div>
                    <div class="card-body">
                        {% if can_send %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><button id="HWItemSendButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#HWItemSendModal">Отправить решение</button></li>
                                {% include "homework_item_modal_send.html" %}
                            </ul>
                        {% endif %}
                        {% if can_check %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><button id="HWItemCheckButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#HWItemCheckModal">Проверить</button></li>
                                {% include "homework_item_modal_check.html" %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <h3 class="mt-2" style="color: #808080;">История</h3>
                <div class="list-group" id="HomeworkItemLogList"></div>
                {% include "homework_item_modal_log.html" %}
            </div>
        </div>
    </div>
    {% include 'toast.html' %}
{% endblock %}
{% block static_js %}
    <script>
        const csrftoken = '{{ csrf_token }}'
        const hwID = {{ hw.id }}
    </script>
    <script src="{% static 'js/apitostr.js' %}"></script>
    <script src="{% static 'js/toasts.js' %}"></script>
    <script src="{% static 'js/homework/homework_api.js' %}"></script>
    {% if can_set_replace %}
        <script>
            let replaceAction = "homework"
            const userID = {{ request.user.id }}
        </script>
        <script src="{% static 'js/users/users_api.js' %}"></script>
        <script src="{% static 'js/lessons/lesson_hw_replace_teacher.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/homework/homework_item.js' %}"></script>
{% endblock %}