<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/@jarstone/dselect/dist/css/dselect.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css'%}">
    </head>
    <body>
        <div class="container-xxl">
            <div class="row login_block">
                <form id="loginForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input id="loginFormLogin" name="username" type="text" class="form-control" placeholder="Логин" aria-label="">
                    </div>
                    <div class="mb-3">
                        <input id="loginFormPassword" name="password" type="password" class="form-control" placeholder="Пароль" aria-label="">
                    </div>
                </form>
                <button id="loginFormButton" class="btn btn-primary">Войти</button>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@jarstone/dselect/dist/js/dselect.js"></script>
        <script>
            const csrftoken = '{{ csrf_token }}'
        </script>
        <script src="{% static 'js/apitostr.js' %}"></script>
        <script src="{% static 'js/login/login.js' %}"></script>
    </body>
</html>