{% extends 'base.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'css/register.css'%}">
{% endblock %}
{% block content %}
        <form class="register_block" method="POST">
            {% csrf_token %}
            <h2 class="main-title">Регистрация пользователя</h2>
            <div class="register_input">
                {{ form.username.errors }}
                {{ form.username.label_tag }} <br>
                {{ form.username }}
            </div>
        <div class="register_input">
                {{ form.password1.errors }}
                {{ form.password1.label_tag }} <br>
                {{ form.password1 }}
            </div>
        <div class="register_input">
                {{ form.password2.errors }}
                {{ form.password2.label_tag }} <br>
                {{ form.password2 }}
            </div>
        <div class="register_input">
                {{ form.first_name.errors }}
                {{ form.first_name.label_tag }} <br>
                {{ form.first_name }}
            </div>
        <div class="register_input">
                {{ form.last_name.errors }}
                {{ form.last_name.label_tag }} <br>
                {{ form.last_name }}
            </div>

            <fieldset name="role">
                <legend>Роль пользователя:</legend>
                {% if perms.auth.register_listener %}
                <div>
                  <input name="role" type="radio" value="Listener" checked/>
                  <label>ученик</label>
                </div>
                {% endif %}
                {% if perms.auth.register_teacher %}
                <div>
                    <input name="role" type="radio" value="Teacher"/>
                    <label>преподаватель</label>
                </div>
                {% endif %}
                {% if perms.auth.register_metodist %}
                <div>
                    <input name="role" type="radio" value="Metodist"/>
                    <label>методист</label>
                </div>
                {% endif %}
                {% if perms.auth.register_admin %}
                <div>
                    <input name="role" type="radio" value="Admin"/>
                    <label>администратор</label>
                </div>
                {% endif %}
            </fieldset>
            <button type="submit">Зарегистрировать</button>
        </form>
{% endblock %}