{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-xxl mt-4">
        <div class="row justify-content-between">
            <div class="col-auto">
                <h1>Пользователи</h1>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary mt-1"><i class="fa-solid fa-magnifying-glass"></i></button>
                {% if perms.auth.register_users %}
                <button type="button" class="btn btn-primary mt-1" data-bs-toggle="offcanvas" href="#offcanvasRegister" role="button"><i class="fa-solid fa-plus"></i></button>
                {% endif %}
                {% include 'offcanvas_register.html' %}
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Фамилия и имя</th>
            <th scope="col">Роль</th>
        </tr>
        </thead>
        <tbody id="UsersTableBody">
        </tbody>
    </table>

    {% include 'offcanvas_user.html' %}
    {% include 'toast.html' %}
{% endblock %}
{% block static_js %}
    <script>
        var csrftoken = '{{ csrf_token }}';
        const userPermissions = JSON.parse("{{ perms|escapejs }}")
    </script>
    <script src="{% static 'js/toasts.js' %}"></script>
    <script src="{% static 'js/users/users.js' %}"></script>
    <script src="{% static 'js/users/registration.js' %}"></script>
    <script src="{% static 'js/users/telegram.js' %}"></script>
    <script src="{% static 'js/users/photo.js' %}"></script>
    <script src="{% static 'js/users/edit.js' %}"></script>
{% endblock %}