.card {
  background-color: #e2e2e2;
  border-radius: 20px;
  border: 0;
}

.card__title-icon {
  width: 70px;
  height: 70px;
  background-color: #ebebeb;
  object-fit: contain;
}

.card__user-img {
  margin-right: 20px;
  padding: 0;
  width: 40px;
  height: 40px;
  object-fit: contain;
  overflow: hidden;
  border-radius: 50%;
}

.lessons__title,
.hometasks__title{
  font-size: 34px;
  font-weight: 1000;
  color: #808080;
}