.category_block,
.material_block{
    width: 80%;
    margin: 0 auto;
}

.cat_field,
.mat_field{
    margin: 5px auto;
}

.category_block button{
    margin-left: 25px;
}

.material_block button{
    margin-left: 25px;
}