.register_block{
    width: 90%;
    margin: 0 auto;
}

.register_input{
    margin: 5px 0;
}

.reg_input{
    width: 50%;
    height: 35px;
    background: rgba(199, 199, 199, 0.82);
    padding-left: 15px;
    border-radius: 15px;
    border: 0;
}

button{
    height: 45px;
    padding: 0 20px;
    background-color: #003366;
    border: 0;
    color: white;
    border-radius: 25px;
    font-size: 20px;
}

fieldset{
    margin: 15px 0;
}