@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #036;
    font-family: 'Roboto', serif;
}

.base-content{
    background-color: #fff;
    min-height: 200px;
    border-radius: 25px;
}

.base-menu{
    border-radius: 25px;
}

.base-profile-photo{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.page-profile-photo{
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 125px;
}

.base-name{
    color: #fff;
    font-size: 24px;
    text-align: center;
}

h1{
    color: gray;
    font-weight: 900;
    margin-left: 25px;
    font-family: Roboto, serif;
    letter-spacing: 2px;
    margin-bottom: 30px;
}