body {
  margin: 20px;
  background-color: #036;
}

.profile {
  color: #fff;
  /* padding-bottom: 30px; */
  border-bottom: 2px solid #fff;
}

.profile__avatar {
  width: 100px;
  height: 100px;
  object-fit: contain;
  overflow: hidden;
  border-radius: 50%;
}

.profile__btn > * {
  margin-bottom: 10px;
  background-color: transparent;
  border: 0;
}

.menu__link {
  color: #fff;
}

.main-content {
  background-color: #fff;
  border-radius: 20px;
}

.main-title{
    font-size: 34px;
    font-weight: 1000;
    color: #808080;
}

.secondary-title{
    font-size: 24px;
    font-weight: 600;
    color: #656565;
}