{% extends 'base_mobile.html' %}
{% load static %}
{% block content %}
    <div id="homeworkMobileTabs" class="mb-3 d-flex" style="overflow-x: scroll;"></div>
    <div class="input-group mb-3">
        <input id="homeworksMobileFilterNameField" type="text" class="form-control form-control-sm" placeholder="Поиск по наименованию" aria-label="">
        <button id="homeworksMobileFilterNameFieldErase" class="btn btn-sm btn-outline-danger" type="button"><i class="bi bi-eraser"></i></button>
    </div>

    <ul class="list-group px-0" id="homeworksMobileList"></ul>
    <div id="homeworkMobileListLoadingSpinner" class="d-flex justify-content-center w-100 d-none">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
    {% include "mobile/homeworks_set_fields.html" %}
    {% include "mobile/homeworks_set_filters.html" %}
{% endblock %}
{% block static_js %}
    <script>
        const homeworkMobileSettingAgreementFilter = {% if settings.show_agreement_filter %}true{% else %}false{% endif %}
        const homeworkMobileTabsInfo = []
        {% for tab in tabs %}
            homeworkMobileTabsInfo.push({
                name: "{{ tab.name }}",
                statuses: [{% for status in tab.statuses %}{{ status }},{% endfor %}],
                agreement: [{% for agreement in tab.agreement %}"{{ agreement }}",{% endfor %}],
            })
        {% endfor %}
    </script>
    <script src="{% static 'js/homework/mobile/homeworks_list_filters.js' %}"></script>
    <script src="{% static 'js/homework/mobile/homeworks_set_fields.js' %}"></script>
    <script src="{% static 'js/homework/mobile/homeworks_list.js' %}"></script>
{% endblock %}