{% extends 'base_mobile.html' %}
{% load static %}
{% block content %}
    <div id="homeworkMobileTabs" class="mb-3 d-flex" style="overflow-x: scroll;"></div>
    <ul class="list-group px-0" id="homeworksMobileList"></ul>
    <div id="homeworkMobileListLoadingSpinner" class="d-flex justify-content-center w-100 d-none">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
    {% include "material_preview_modal.html" %}
    {% include "mobile/homeworks_set_fields.html" %}
    {% if is_admin %}
        {% include "mobile/lessons_list_admin_comment.html" %}
    {% endif %}
{% endblock %}
{% block static_js %}
    <script>
        const homeworksMobileParamsIsAdmin = {% if is_admin %} true {% else %} false {% endif %}
        const homeworkMobileSettingAgreementFilter = {% if settings.show_agreement_filter %}true{% else %}false{% endif %}
        const homeworkMobileTabsInfo = []
        {% for tab in tabs %}
            homeworkMobileTabsInfo.push({
                name: "{{ tab.name }}",
                statuses: [{% for status in tab.statuses %}{{ status }},{% endfor %}],
                agreement: [{% for agreement in tab.agreement %}"{{ agreement }}",{% endfor %}],
            })
        {% endfor %}
    </script>
    {% if is_admin %}
        <script src="{% static 'js/lessons/mobile/lessons_list_admin_comment.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/users/users_api.js' %}"></script>
    <script src="{% static 'js/lessons/lessons_api.js' %}"></script>
    <script src="{% static 'js/homework/homework_api.js' %}"></script>
    <script src="{% static 'js/homework/homework_utils.js' %}"></script>
    <script src="{% static 'js/universal_field_validator.js' %}"></script>
    <script src="{% static 'js/homework/homework_item_show_offcanvas.js' %}"></script>
    <script src="{% static 'js/lessons/lesson_show_offcanvas.js' %}"></script>
    <script src="{% static 'js/homework/mobile/homeworks_filter.js' %}"></script>
    <script src="{% static 'js/homework/mobile/homeworks_set_fields.js' %}"></script>
    <script src="{% static 'js/homework/mobile/homeworks_list.js' %}"></script>
{% endblock %}