{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-xxl mt-4 mb-3">
        <div class="row justify-content-between">
            <div class="col-auto">
                <h1>Домашние задания</h1>
            </div>
        </div>
    </div>

    <div class="container-xxl">
        <ul class="nav nav-pills mb-3" id="homeworkTabs" role="tablist">
            <li class="nav-item">
                {#                    <button id="homeworksTableFilterResetAll" type="button" class="btn btn-sm btn-outline-danger mx-1" role="button"><i class="bi bi-funnel-fill me-1"></i>Сбросить</button>#}
                {% if is_admin %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                            <i class="bi bi-funnel-fill me-1"></i>Методист</button>
                        <ul id="homeworksTableFilterMethodistList" class="dropdown-menu" style="min-width: 250px;">
                            <li class="input-group px-1">
                                <input id="homeworksTableFilterMethodistSearchField" type="text" class="form-control form-control-sm" placeholder="Поиск: " aria-label="">
                                <button id="homeworksTableFilterMethodistSearchErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </li>
        </ul>
        <div class="container-xxl">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <b>Наименование</b></button>
                            <ul class="dropdown-menu" style="min-width: 250px;">
                                <li class="input-group px-1">
                                    <input id="homeworksTableFilterNameField" type="text" class="form-control form-control-sm" placeholder="Поиск: " aria-label="">
                                    <button id="homeworksTableFilterNameErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <b>Преподаватель</b></button>
                            <ul id="homeworksTableFilterTeacherList" class="dropdown-menu" style="min-width: 250px;">
                                <li class="input-group px-1">
                                    <button id="homeworksTableFilterTeacherSearchFieldReset" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-x-lg"></i></button>
                                    <input id="homeworksTableFilterTeacherSearchField" type="text" class="form-control form-control-sm" placeholder="Поиск: " aria-label="">
                                    <button id="homeworksTableFilterTeacherSearchFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <b>Ученик</b></button>
                            <ul id="homeworksTableFilterListenerList" class="dropdown-menu" style="min-width: 250px;">
                                <li class="input-group px-1">
                                    <button id="homeworksTableFilterListenerSearchFieldReset" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-x-lg"></i></button>
                                    <input id="homeworksTableFilterListenerSearchField" type="text" class="form-control form-control-sm" placeholder="Поиск: " aria-label="">
                                    <button id="homeworksTableFilterListenerSearchFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <b>Задано</b></button>
                            <ul class="dropdown-menu" style="min-width: 320px;">
                                <li class="input-group px-1 mb-1">
                                    <span class="input-group-text">Начало</span>
                                    <input id="homeworksTableFilterDateStartField" type="date" class="form-control form-control-sm" aria-label="date start">
                                    <button id="homeworksTableFilterDateStartFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                                <li class="input-group px-1">
                                    <span class="input-group-text">Конец</span>
                                    <input id="homeworksTableFilterDateEndField" type="date" class="form-control form-control-sm" aria-label="date end">
                                    <button id="homeworksTableFilterDateEndFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <b>Послед. изменение</b></button>
                            <ul class="dropdown-menu" style="min-width: 320px;">
                                <li class="input-group px-1 mb-1">
                                    <span class="input-group-text">Начало</span>
                                    <input id="homeworksTableFilterLastChangeDateStartField" type="date" class="form-control form-control-sm" aria-label="date start">
                                    <button id="homeworksTableFilterLastChangeDateStartFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                                <li class="input-group px-1">
                                    <span class="input-group-text">Конец</span>
                                    <input id="homeworksTableFilterLastChangeDateEndField" type="date" class="form-control form-control-sm" aria-label="date end">
                                    <button id="homeworksTableFilterLastChangeDateEndFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                            </ul>
                        </div>
                    </th>
                    {% if is_admin %}
                        <th scope="col">
                            <div class="btn-group">
                                <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                    <b><i class="bi bi-chat-left-text-fill"></i></b></button>
                                <ul class="dropdown-menu" style="min-width: 320px;">
                                    <li class="mx-1">
                                        <div class="btn-group" role="group" aria-label="">
                                            <input type="radio" class="btn-check" name="comment_filter" id="homeworksTableFilterCommentAll" autocomplete="off" checked>
                                            <label class="btn btn-outline-primary btn-sm" for="homeworksTableFilterCommentAll">Все</label>

                                            <input type="radio" class="btn-check" name="comment_filter" id="homeworksTableFilterCommentTrue" autocomplete="off">
                                            <label class="btn btn-outline-primary btn-sm" for="homeworksTableFilterCommentTrue">С комментарием</label>

                                            <input type="radio" class="btn-check" name="comment_filter" id="homeworksTableFilterCommentFalse" autocomplete="off">
                                            <label class="btn btn-outline-primary btn-sm" for="homeworksTableFilterCommentFalse">Без комментария</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </th>
                    {% endif %}
                </tr>
                </thead>
                <tbody id="homeworksTableBody"></tbody>
            </table>
            <button id="homeworksTableShowMoreButton" class="btn btn-primary d-none">Показать ещё</button>
        </div>
    </div>
{% endblock %}
{% block static_js %}
    <script>
        const userObj = {
            id: {{ request.user.id }},
            first_name: "{{ request.user.first_name }}",
            last_name: "{{ request.user.last_name }}"
        }
    </script>
    <script>
        const homeworkSettingAgreementFilter = {% if settings.show_agreement_filter %}true{% else %}false{% endif %}
        const homeworkTabsInfo = []
        {% for tab in tabs %}
            homeworkTabsInfo.push({
                name: "{{ tab.name }}",
                statuses: [{% for status in tab.statuses %}{{ status }},{% endfor %}],
                agreement: [{% for agreement in tab.agreement %}"{{ agreement }}",{% endfor %}],
            })
        {% endfor %}
    </script>
    <script src="{% static 'js/homework/homeworks.js' %}"></script>
    <script src="{% static 'js/homework/homeworks_filter.js' %}"></script>

{% endblock %}