<div class="modal modal-lg" tabindex="-1" id="hwItemMaterialDeleteModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Удаление материала</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить из ДЗ материал?
            </div>
            <div class="modal-footer">
                <button id="hwItemMaterialDeleteModalDeleteButton" type="button" class="btn btn-danger">Удалить</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
