{% extends 'base_mobile.html' %}
{% load static %}
{% block content %}
    <div class="container mt-3">
        <div class="input-group mb-3">
            <button id="maSchedulePrevButton" class="btn btn-outline-secondary" type="button"><</button>
            <span id="maScheduleCurrent" class="input-group-text"></span>
            <button id="maScheduleNextButton" class="btn btn-outline-secondary" type="button">></button>
        </div>

        <div class="accordion d-none" id="maScheduleAccordion">
            <div class="accordion-item" id="maScheduleMonday">
                <h2 class="accordion-header" id="maScheduleMondayHeader">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#maScheduleMondayCollapse" aria-expanded="false" aria-controls="maScheduleMondayCollapse">
                        Понедельник
                    </button>
                </h2>
                <div id="maScheduleMondayCollapse" class="accordion-collapse collapse" aria-labelledby="maScheduleMondayHeader">
                    <div class="accordion-body">
                        <div class="list-group" id="maScheduleMondayList"></div>
                    </div>
                </div>
            </div>

            <div class="accordion-item" id="maScheduleTuesday">
                <h2 class="accordion-header" id="maScheduleTuesdayHeader">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#maScheduleTuesdayCollapse" aria-expanded="false" aria-controls="maScheduleTuesdayCollapse">
                        Вторник
                    </button>
                </h2>
                <div id="maScheduleTuesdayCollapse" class="accordion-collapse collapse" aria-labelledby="maScheduleTuesdayHeader">
                    <div class="accordion-body">
                        <div class="list-group" id="maScheduleTuesdayList"></div>
                    </div>
                </div>
            </div>

            <div class="accordion-item" id="maScheduleWednesday">
                <h2 class="accordion-header" id="maScheduleWednesdayHeader">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#maScheduleWednesdayCollapse" aria-expanded="false" aria-controls="maScheduleWednesdayCollapse">
                        Среда
                    </button>
                </h2>
                <div id="maScheduleWednesdayCollapse" class="accordion-collapse collapse" aria-labelledby="maScheduleWednesdayHeader">
                    <div class="accordion-body">
                        <div class="list-group" id="maScheduleWednesdayList"></div>
                    </div>
                </div>
            </div>

            <div class="accordion-item" id="maScheduleThursday">
                <h2 class="accordion-header" id="maScheduleThursdayHeader">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#maScheduleThursdayCollapse" aria-expanded="false" aria-controls="maScheduleThursdayCollapse">
                        Четверг
                    </button>
                </h2>
                <div id="maScheduleThursdayCollapse" class="accordion-collapse collapse" aria-labelledby="maScheduleThursdayHeader">
                    <div class="accordion-body">
                        <div class="list-group" id="maScheduleThursdayList"></div>
                    </div>
                </div>
            </div>

            <div class="accordion-item" id="maScheduleFriday">
                <h2 class="accordion-header" id="maScheduleFridayHeader">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#maScheduleFridayCollapse" aria-expanded="false" aria-controls="maScheduleFridayCollapse">
                        Пятница
                    </button>
                </h2>
                <div id="maScheduleFridayCollapse" class="accordion-collapse collapse" aria-labelledby="maScheduleFridayHeader">
                    <div class="accordion-body">
                        <div class="list-group" id="maScheduleFridayList"></div>
                    </div>
                </div>
            </div>

            <div class="accordion-item" id="maScheduleSaturday">
                <h2 class="accordion-header" id="maScheduleSaturdayHeader">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#maScheduleSaturdayCollapse" aria-expanded="false" aria-controls="maScheduleSaturdayCollapse">
                        Суббота
                    </button>
                </h2>
                <div id="maScheduleSaturdayCollapse" class="accordion-collapse collapse" aria-labelledby="maScheduleSaturdayHeader">
                    <div class="accordion-body">
                        <div class="list-group" id="maScheduleSaturdayList"></div>
                    </div>
                </div>
            </div>

            <div class="accordion-item" id="maScheduleSunday">
                <h2 class="accordion-header" id="maScheduleSundayHeader">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#maScheduleSundayCollapse" aria-expanded="false" aria-controls="maScheduleSundayCollapse">
                        Воскресенье
                    </button>
                </h2>
                <div id="maScheduleSundayCollapse" class="accordion-collapse collapse" aria-labelledby="maScheduleSundayHeader">
                    <div class="accordion-body">
                        <div class="list-group" id="maScheduleSundayList"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-warning d-none" id="maScheduleAlert" role="alert">
            На этой неделе занятий нет
        </div>

    </div>
{% endblock %}
{% block static_js %}
    <script>
        const maScheduleSelectedUser = {{ user_id }}
    </script>
    <script src="{% static 'js/lessons/lessons_api.js' %}"></script>
    <script src="{% static 'js/lessons/ma/schedule.js' %}"></script>
{% endblock %}