{% extends 'base.html' %}
{% load static %}
{% block static_css %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}
{% block content %}
    <div class="container-xxl mt-4 mb-3">
        <div class="row justify-content-between">
            <div class="col-auto">
                <h1>Сообщения</h1>
            </div>
            <div class="col-auto">
                {% if "auth.can_read_all_messages" in perms %}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Выбрать пользователя
                        </button>
                        <ul class="dropdown-menu" id="chatsFromUserList">
                            <li class="input-group px-1">
                                <input id="chatsFromUserSearchField" type="text" class="form-control form-control-sm" placeholder="Поиск: " aria-label="Поиск">
                                <button id="chatsFromUserSearchFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-xxl">
        <div class="row justify-content-between">
            <div class="col-4">
                <ul class="list-group" id="chatUsersList">
                    <a href="#" class="list-group-item d-flex">
                        <img src="/media/profile_pictures/base_avatar.png" class="chats-profile_photo me-2" alt="">
                        <div class="w-100">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="d-flex">
                                    <h6 class="mb-1">ФИО</h6>
                                    <span class="badge bg-primary rounded-pill ms-1 mb-1">14</span>
                                </div>
                                <small>Дата или время</small>
                            </div>
                            <p class="mb-1">Some placeholder content in a paragraph.</p>
                        </div>
                    </a>
                </ul>
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-header" id="chatMessagesUserName">
                        Выберите пользователя
                    </div>
                    <div class="card-body">
                        <div id="chatMessages"></div>
                        <div class="mt-2 d-none" id="chatMessagesNew">
                            <div class="input-group">
                                <button class="btn btn-outline-secondary" type="button" disabled>Вложение</button>
                                <input id="chatMessagesNewText" type="text" class="form-control" placeholder="Сообщение" aria-label="">
                                <button id="chatMessagesNewSend" class="btn btn-outline-secondary" type="button"><i class="bi bi-send"></i></button>
                                <div class="invalid-feedback" id="chatMessagesNewTextError"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'toast.html' %}
{% endblock %}
{% block static_js %}
    <script>
        const csrftoken = '{{ csrf_token }}'
    </script>
    <script src="{% static 'js/toasts.js' %}"></script>
    <script src="{% static 'js/apitostr.js' %}"></script>
    <script src="{% static 'js/users/users_api.js' %}"></script>
    <script src="{% static 'js/chat/chatAPI.js' %}"></script>
    <script src="{% static 'js/chat/chat_main.js' %}"></script>
    {% if "auth.can_read_all_messages" in perms %}
        <script src="{% static 'js/chat/chat_from_user.js' %}"></script>
    {% endif %}

{% endblock %}