<div class="modal fade" tabindex="-1" id="lessonsAdminCommentModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Комментарий</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="mb-3">
                    <textarea rows="10" type="text" class="form-control" id="lessonsAdminCommentModalField" aria-label=""></textarea>
                    <div class="invalid-feedback" id="lessonsAdminCommentModalFieldError"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button id="lessonsAdminCommentModalDeleteButton" type="button" class="btn btn-danger">Удалить</button>
                <button id="lessonsAdminCommentModalSaveButton" type="button" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>