{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-xxl mt-4 mb-3">
        <div class="row justify-content-between">
            <div class="col-auto">
                <h1>Занятия</h1>
            </div>
            <div class="col-auto">
                {% if plans_button %}
                    <a href="{% url 'learning_plans' %}"><button type="button" class="btn btn-primary mt-1">Планы обучения</button></a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-xxl">
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link active" href="#" id="LessonsTabUpcoming">Все</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="LessonsTabPassed">Проведённые</a>
            </li>
            <li class="nav-item">
                <button id="lessonsTableFilterResetAll" type="button" class="btn btn-sm btn-outline-danger mx-1" role="button"><i class="bi bi-funnel-fill"></i>Сбросить</button>
                <button id="lessonsTableOpenHomeworksButton" data-opened="false" type="button" class="btn btn-sm btn-outline-primary mx-1" role="button"><i class="bi bi-eye"></i> ДЗ</button>
            </li>
        </ul>

        <div class="container-xxl">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <b>Наименование</b></button>
                            <ul class="dropdown-menu" style="min-width: 250px;">
                                <li class="input-group px-1">
                                    <input id="lessonsTableFilterNameField" type="text" class="form-control form-control-sm" placeholder="Поиск: " aria-label="">
                                    <button id="lessonsTableFilterNameErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <b>Время и место</b></button>
                            <ul class="dropdown-menu" style="min-width: 320px;" id="lessonsTableFilterDatePlacesList">
                                <li class="input-group px-1 mb-1">
                                    <span class="input-group-text">Начало</span>
                                    <input id="lessonsTableFilterDateStartField" type="date" class="form-control form-control-sm" aria-label="date start">
                                    <button id="lessonsTableFilterDateStartFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                                <li class="input-group px-1">
                                    <span class="input-group-text">Конец</span>
                                    <input id="lessonsTableFilterDateEndField" type="date" class="form-control form-control-sm" aria-label="date end">
                                    <button id="lessonsTableFilterDateEndFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="input-group px-1 mb-1">
                                    <button id="lessonsTableFilterPlaceFieldReset" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-x-lg"></i></button>
                                    <input id="lessonsTableFilterPlaceField" type="text" class="form-control form-control-sm" aria-label="" placeholder="Место проведения">
                                    <button id="lessonsTableFilterPlaceFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <b>Преподаватель</b></button>
                            <ul id="lessonsTableFilterTeacherList" class="dropdown-menu" style="min-width: 250px;">
                                <li class="input-group px-1">
                                    <input id="lessonsTableFilterTeacherSearchField" type="text" class="form-control form-control-sm" placeholder="Поиск: " aria-label="">
                                    <button id="lessonsTableFilterTeacherSearchFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <b>Ученик</b></button>
                            <ul id="lessonsTableFilterListenerList" class="dropdown-menu" style="min-width: 250px;">
                                <li class="input-group px-1">
                                    <input id="lessonsTableFilterListenerSearchField" type="text" class="form-control form-control-sm" placeholder="Поиск: " aria-label="">
                                    <button id="lessonsTableFilterListenerSearchFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <b>ДЗ</b></button>
                            <ul class="dropdown-menu" style="min-width: 200px;">
                                <li class="mx-1 mb-3">
                                    <div class="btn-group" role="group" aria-label="">
                                        <input type="radio" class="btn-check" name="hw_filter" id="lessonsTableFilterHWAll" autocomplete="off" checked>
                                        <label class="btn btn-outline-primary btn-sm" for="lessonsTableFilterHWAll">Все</label>

                                        <input type="radio" class="btn-check" name="hw_filter" id="lessonsTableFilterHWTrue" autocomplete="off">
                                        <label class="btn btn-outline-primary btn-sm" for="lessonsTableFilterHWTrue">С ДЗ</label>

                                        <input type="radio" class="btn-check" name="hw_filter" id="lessonsTableFilterHWFalse" autocomplete="off">
                                        <label class="btn btn-outline-primary btn-sm" for="lessonsTableFilterHWFalse">Без ДЗ</label>
                                    </div>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="mx-1">
                                    Последний статус ДЗ:
                                </li>
                                <li><a id="lessonsTableFilterHWStatus1" class="dropdown-item" href="#">Создано</a></li>
                                <li><a id="lessonsTableFilterHWStatus7" class="dropdown-item" href="#">Задано</a></li>
                                <li><a id="lessonsTableFilterHWStatus2" class="dropdown-item" href="#">Открыто</a></li>
                                <li><a id="lessonsTableFilterHWStatus3" class="dropdown-item" href="#">На проверке</a></li>
                                <li><a id="lessonsTableFilterHWStatus5" class="dropdown-item" href="#">На доработке</a></li>
                                <li><a id="lessonsTableFilterHWStatus4" class="dropdown-item" href="#">Принято</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a id="lessonsTableFilterHWAgreement" class="dropdown-item" href="#">Ожидает согласования</a></li>
                            </ul>
                        </div>
                    </th>
                    {% if is_admin %}
                        <th scope="col">
                            <div class="btn-group">
                                <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                    <b>Комментарий</b></button>
                                <ul class="dropdown-menu" style="min-width: 320px;">
                                    <li class="mx-1">
                                        <div class="btn-group" role="group" aria-label="">
                                            <input type="radio" class="btn-check" name="comment_filter" id="lessonsTableFilterCommentAll" autocomplete="off" checked>
                                            <label class="btn btn-outline-primary btn-sm" for="lessonsTableFilterCommentAll">Все</label>

                                            <input type="radio" class="btn-check" name="comment_filter" id="lessonsTableFilterCommentTrue" autocomplete="off">
                                            <label class="btn btn-outline-primary btn-sm" for="lessonsTableFilterCommentTrue">С комментарием</label>

                                            <input type="radio" class="btn-check" name="comment_filter" id="lessonsTableFilterCommentFalse" autocomplete="off">
                                            <label class="btn btn-outline-primary btn-sm" for="lessonsTableFilterCommentFalse">Без комментария</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </th>
                    {% endif %}
                </tr>
                </thead>
                <tbody id="LessonsTableBody"></tbody>
            </table>
            <button id="lessonsTableShowMoreButton" class="btn btn-primary d-none">Показать ещё</button>
        </div>
    </div>
    {% if is_admin %}
        {% include 'lessons_modal_comment.html' %}
    {% endif %}
{% endblock %}
{% block static_js %}
    {% if is_admin %}
        <script>
            const isAdmin = true
        </script>
        <script src="{% static 'js/lessons/lessons_admin_comment.js' %}"></script>
    {% else %}
        <script>
            const isAdmin = false
        </script>
    {% endif %}
    <script src="{% static 'js/users/users_api.js' %}"></script>
    <script src="{% static 'js/collections/collections_api.js' %}"></script>
    <script src="{% static 'js/lessons/lessons_api.js' %}"></script>
    <script src="{% static 'js/homework/homework_utils.js' %}"></script>
    <script src="{% static 'js/homework/homework_api.js' %}"></script>
    <script src="{% static 'js/lessons/lessons_main.js' %}"></script>
    <script src="{% static 'js/lessons/lessons_main_filters.js' %}"></script>
{% endblock %}