{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-xxl mt-4 mb-3">
        <div class="row justify-content-between">
            <div class="col-auto">
                <h1>Занятия</h1>
            </div>
            <div class="col-auto">
                {% if plans_button %}
                <a href="{% url 'learning_plans' %}"><button type="button" class="btn btn-primary mt-1">Планы обучения</button></a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-xxl">
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link active" href="#" id="LessonsTabUpcoming">Предстоящие</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="LessonsTabPassed">Проведённые</a>
            </li>
        </ul>

        <div class="container-xxl">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Наименование</th>
                    <th scope="col">Дата и время</th>
                    <th scope="col">Преподаватель</th>
                    <th scope="col">Ученик</th>
                    <th scope="col">Действие</th>
                </tr>
                </thead>
                <tbody id="LessonsTableBody"></tbody>
            </table>
        </div>
    </div>
{% include 'toast.html' %}
{% endblock %}
{% block static_js %}
    <script>
        const csrftoken = '{{ csrf_token }}';
    </script>
    <script src="{% static 'js/toasts.js' %}"></script>
    <script src="{% static 'js/lessons/lessons_main.js' %}"></script>
{% endblock %}