<div class="modal fade" tabindex="-1" id="LessonItemDeleteHWModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Отменить ДЗ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Домашнее задание будет помечено как отменённое<br>
                После отмены ДЗ ученик не сможет прислать решение, а преподаватель проверить<br>
                Действие обратимо
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button id="LessonItemDeleteHWModalButton" type="button" class="btn btn-danger">Отменить</button>
            </div>
        </div>
    </div>
</div>