{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-xxl mt-4 mb-3">
        <h1>{{ lesson.name }}</h1>
    </div>

    <div class="container-xxl">
        <div class="row">
            <div class="col-6">
                <div class="card mb-3">
                    <div class="card-header">Занятие</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% if lesson.description %}
                                <li class="list-group-item">Описание: {{ lesson.description }}</li>
                            {% endif %}
                            {% if lesson.date %}
                                <li class="list-group-item">Дата: {{ lesson.date }}</li>
                            {% else %}
                                <li class="list-group-item">Дата: не установлена</li>
                            {% endif %}
                            {% if lesson.start_time %}
                                <li class="list-group-item">Время: {{ lesson.start_time }} - {{ lesson.end_time }}</li>
                            {% else %}
                                <li class="list-group-item">Время: не установлено</li>
                            {% endif %}
                            {% if lesson.status == 0 %}
                                <li class="list-group-item list-group-item-warning">Занятие не проведено</li>
                            {% endif %}
                            {% if lesson.status == 1 %}
                                <li class="list-group-item list-group-item-success">Занятие проведено</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">Участники</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Преподаватель: <a href="/profile/{{ lesson.get_teacher.id }}">{{ lesson.get_teacher }}</a>
                                {% if can_set_replace %}
                                    <button id="LessonItemReplaceTeacherButton" type="button" class="btn btn-primary btn-sm ms-2" data-bs-toggle="modal" data-bs-target="#LessonItemReplaceTeacherModal"><i class="bi bi-person-gear"></i></button>
                                    {% include "modal_set_replace.html" %}
                                {% endif %}
                            </li>
                            {% for listener in lesson.get_listeners %}
                                <li class="list-group-item">Ученик: <a href="/profile/{{ listener.id }}">{{ listener }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3">
                    <div class="card-header">Материалы
                        {% if can_edit_materials %}
                            <button id="LessonItemAddMaterialsButton" type="button" class="btn btn-primary btn-sm ms-2" data-bs-toggle="modal" data-bs-target="#MaterialsEmbedModal"><i class="bi bi-plus-lg"></i></button>
                            {% include "materials_embed_modal.html" %}
                        {% endif %}
                        <button id="LessonItemSendMaterialsButton" type="button" class="btn btn-primary btn-sm ms-2"><i class="bi bi-telegram"></i></button>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" id="lessonItemMaterialsList">
                            {% if can_see_materials %}
                                {% for material in lesson.materials.all %}
                                    <li class="list-group-item">
                                        <a href="/materials/{{ material.id }}">{{ material.name }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">Домашние задания
                        {% if can_add_hw %}
                            <button id="LessonItemNewHWButton" type="button" class="btn btn-primary btn-sm ms-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNewHW"><i class="bi bi-plus-lg"></i></button>
                            {% include "offcanvas_lesson_new_HW.html" %}
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for hw in lesson.homeworks.all %}
                                <li class="list-group-item">
                                    {% if can_add_hw %}
                                        <button type="button" class="btn btn-danger btn-sm me-2"><i class="bi bi-trash3"></i></button>
                                    {% endif %}
                                    <a href="/homeworks/{{ hw.id }}">{{ hw.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'toast.html' %}
{% endblock %}
{% block static_js %}
    <script>
        const csrftoken = '{{ csrf_token }}'
        const lessonID = '{{ lesson.id }}'
    </script>
    <script src="{% static 'js/apitostr.js' %}"></script>
    <script src="{% static 'js/toasts.js' %}"></script>
    <script src="{% static 'js/homework/homework_api.js' %}"></script>
    <script src="{% static 'js/materials/materials_api.js' %}"></script>
    <script src="{% static 'js/lessons/lessons_api.js' %}"></script>
    {% if can_set_replace %}
        <script>
            let replaceAction = "lesson"
            const userID = {{ request.user.id }}
        </script>
        <script src="{% static 'js/users/users_api.js' %}"></script>
        <script src="{% static 'js/lessons/lesson_hw_replace_teacher.js' %}"></script>
    {% endif %}
    {% if can_edit_materials %}
        <script>
            let materialEmbedAction
            const see_general = {% if perms.material.see_all_general %}true{% else %}false{% endif %}
            const mediaFormats = {
                imageFormats: {{ material_formats.image_formats | safe }},
                videoFormats: {{ material_formats.video_formats | safe }},
                animationFormats: {{ material_formats.animation_formats | safe }},
                archiveFormats: {{ material_formats.archive_formats | safe }},
                pdfFormats: {{ material_formats.pdf_formats | safe }},
                voiceFormats: {{ material_formats.voice_formats | safe }},
                audioFormats: {{ material_formats.audio_formats | safe }},
                textFormats: {{ material_formats.text_formats | safe }},
                presentationFormats: {{ material_formats.presentation_formats | safe }}
            }
        </script>
        <script src="{% static 'js/collections/collections_api.js' %}"></script>
        <script src="{% static 'js/programs/programsAPI.js' %}"></script>
        <script src="{% static 'js/materials/materials_utils.js' %}"></script>
        <script src="{% static 'js/materials/materials_embed.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/lessons/lesson_item.js' %}"></script>
    {% if can_add_hw %}
        <script src="{% static 'js/automaticAPI.js' %}"></script>
        <script>
            {% if hwdeadline %}
                const lessonItemNewHwDeadline = '{{ hwdeadline }}'
            {% else %}
                const lessonItemNewHwDeadline = null
            {% endif %}
        </script>
        <script src="{% static 'js/lessons/lesson_item_homeworks.js' %}"></script>
    {% endif %}

{% endblock %}