<div class="modal fade" tabindex="-1" id="LessonItemSendTGModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Отправить материалы?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Ученик(-и) получат в Telegram уведомление и смогут просмотреть приложенные к занятию материалы<br>
                Действие необратимо
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button id="LessonItemSendTGModalButton" type="button" class="btn btn-warning">Отправить</button>
            </div>
        </div>
    </div>
</div>