<div class="modal fade" tabindex="-1" id="lessonAdditionalListenersModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Дополнительные ученики</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-1">
                    <input id="lessonAdditionalListenersModalSearchField" type="text" class="form-control" placeholder="Поиск: " aria-label="">
                    <button id="lessonAdditionalListenersModalSearchFieldErase" type="button" class="btn btn-outline-danger"><i class="bi bi-eraser"></i></button>
                </div>
                <div class="list-group" id="lessonAdditionalListenersModalList"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button id="lessonAdditionalListenersModalChangeButton" type="button" class="btn btn-primary">Изменить</button>
            </div>
        </div>
    </div>
</div>