<div class="modal fade" tabindex="-1" id="usersReplaceTeacherModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Замена преподавателя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input type="text" class="form-control" id="usersReplaceTeacherModalSearchField" placeholder="Поиск:" aria-label="">
                </div>
                <div class="list-group" id="usersReplaceTeacherModalList"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button id="usersReplaceTeacherModalReplaceButton" type="button" class="btn btn-primary" disabled>Заменить</button>
            </div>
        </div>
    </div>
</div>