<div class="modal modal" tabindex="-1" id="LessonItemReplaceTeacherModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Замена преподавателя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="LessonItemReplaceTeacherModalSearchField" class="form-label">Поиск:</label>
                    <input type="text" class="form-control" id="LessonItemReplaceTeacherModalSearchField">
                </div>
                <div class="list-group" id="LessonItemReplaceTeacherModalList">
                    <a href="#" class="list-group-item list-group-item-action active">The current link item</a>
                    <a href="#" class="list-group-item list-group-item-action">A second link item</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button id="LessonItemReplaceTeacherModalSaveButton" type="button" class="btn btn-primary" disabled>Заменить</button>
            </div>
        </div>
    </div>
</div>