<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNewHW">
    <div class="offcanvas-header">
        <h5>Новое ДЗ</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <form id="HWNewForm">
            {% csrf_token %}

            <div class="mb-3">
                <label for="HWNewNameField" class="form-label">Наименование</label>
                <input name="name" type="text" class="form-control" id="HWNewNameField">
                <div class="form-text">Наименование домашнего задания. Обязательно к заполнению</div>
                <div class="invalid-feedback" id="HWNewNameError"></div>
            </div>

            <div class="mb-3">
                <label for="HWNewDescriptionField" class="form-label">Описание</label>
                <textarea name="description" type="text" class="form-control" rows="3" id="HWNewDescriptionField"></textarea>
                <div class="form-text">Опишите, что необходимо сделать для получения зачёта. Обязтельно к заполнению</div>
                <div class="invalid-feedback" id="HWNewDescriptionError"></div>
            </div>

            <div class="mb-3">
                <label for="HWNewDeadlineField" class="form-label">Срок</label>
                <input name="deadline" type="date" class="form-control" id="HWNewDeadlineField">
                <div class="form-text">В какой срок необходимо выполнить домашнее задание. Обязательно к заполнению</div>
                <div class="invalid-feedback" id="HWNewDeadlineError"></div>
            </div>

            <div class="card mb-3">
                <div class="card-header">Материалы
                <button type="button" class="btn btn-primary btn-sm ms-2" id="HWNewMaterialsAddButton" data-bs-toggle="modal" data-bs-target="#MaterialsEmbedModal"><i class="bi bi-plus-lg"></i></button>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush" id="HWNewMaterialsList"></ul>
                </div>
            </div>
            <button class="btn btn-primary" id="HWNewSaveAndGoButton" type="button">Сохранить и перейти</button>
            <button class="btn btn-primary" id="HWNewSaveButton" type="button">Сохранить</button>
        </form>
    </div>
</div>