:root {
    --background-color: #003366;
  }

body {
    background-color: var(--background-color);
}

.login_block{
    background-color: #fff;
    width: 300px;
    margin: auto auto;
    margin-top: 150px;
    border-radius: 20px;
    padding: 40px;
}

@media (max-width: 576px) {
    .login_block {
        width: 96%;
    }
}