.logs-information-files {
    background: rgba(13, 109, 251, 0.18);
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.logs-information-file {
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    border-radius: 7px;
    margin: 5px;
    background: white;
    cursor: pointer;
    align-content: center;
    text-align: center;
    color: #0d6dfb;
}

.logs-information-file i {
    font-size: 30px;
}

.chats-message-receiver{
    background-color: #cccccc;
    width: fit-content;
    height: fit-content;
    padding: 10px 10px 7px 10px;
    border: 1px solid #afafaf;
    border-radius: 10px 10px 10px 0;
    margin: 5px 0;
}

.chats-message-receiver-name{
    border-bottom: 2px solid #afafaf;
    font-size: 12px;
    font-weight: bold;
}

.chats-message-sender{
    background-color: rgba(48, 132, 255, 0.37);
    width: fit-content;
    height: fit-content;
    padding: 10px 10px 20px 10px;
    border: 1px solid #afafaf;
    border-radius: 10px 10px 0 10px;
    margin: 5px 0;
}

.chats-message-tagged{
    border: 3px solid #afafaf;
}

.chats-message-receiver p{
    margin: 0;
}

.chats-message-sender p{
    margin: 0;
}

.chats-message-data{
    font-size: 10px;
    float: right;
}