<div class="offcanvas offcanvas-start" tabindex="-1" id="userLogsOffcanvasLP">
    <div class="offcanvas-header">
        <h5>Выберите план обучения</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <div class="input-group mb-3">
            <input id="userLogsOffcanvasLPSearchField" type="text" class="form-control" placeholder="Поиск: " aria-label="">
            <button id="userLogsOffcanvasLPSearchClearButton" class="btn btn-outline-danger" type="button"><i class="bi bi-eraser"></i></button>
        </div>
        <div id="userLogsOffcanvasLPList" class="list-group"></div>
    </div>
</div>