{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-xxl mt-4 mb-3">
        <div class="row justify-content-between">
            <div class="col-auto">
                <button id="userLogsSelectPlanButton" class="btn-primary btn">Вырать план обучения</button>
            </div>
            <div class="col-auto">
                <h1>Логи пользователей</h1>
            </div>
        </div>
    </div>

    <div class="container-xxl">
        <div class="row">
            <div class="col-6">
                <div class="card mb-3">
                    <div class="card-header">Информация</div>
                    <div id="userLogsPlanInformation" class="card-body">
                        <ul class="list-group list-group-flush" id="lessonItemMainInfo"></ul>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3">
                    <div class="card-header">Фильтры</div>
                    <div class="card-body">
                        <div id="userLogsPlanActionsFilters">
                            <div class="input-group mb-3">
                                <input id="userLogsPlanActionsFiltersDateFrom" type="date" class="form-control" aria-label="">
                                <span class="input-group-text" id="basic-addon1">-</span>
                                <input id="userLogsPlanActionsFiltersDateTo" type="date" class="form-control" aria-label="">
                            </div>

                            <div class="btn-group mb-3" role="group">
                                <button id="userLogsPlanActionsFiltersDateSetWeek" type="button" class="btn btn-sm btn-outline-primary">Неделя</button>
                                <button id="userLogsPlanActionsFiltersDateSet3Days" type="button" class="btn btn-sm btn-outline-primary">3 дня</button>
                                <button id="userLogsPlanActionsFiltersDateSetToday" type="button" class="btn btn-sm btn-outline-primary">Сегодня</button>
                            </div>

                            <div class="mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="userLogsPlanActionsFiltersHW" checked>
                                    <label class="form-check-label" for="userLogsPlanActionsFiltersHW">Домашние задания</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="userLogsPlanActionsFiltersTGJournal" checked>
                                    <label class="form-check-label" for="userLogsPlanActionsFiltersTGJournal">Уведомления TG</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="userLogsPlanActionsFiltersMessages" checked>
                                    <label class="form-check-label" for="userLogsPlanActionsFiltersMessages">Сообщения</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="userLogsPlanActionsFiltersLessons" checked>
                                    <label class="form-check-label" for="userLogsPlanActionsFiltersLessons">Занятия</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="userLogsPlanActionsFiltersPlans" checked>
                                    <label class="form-check-label" for="userLogsPlanActionsFiltersPlans">Планы обучения</label>
                                </div>
                            </div>
                            <button id="userLogsPlanActionsFiltersConfirm" type="button" class="btn btn-primary">Применить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs mb-2">
                <li class="nav-item">
                    <a id="userLogsTabsActions" class="nav-link active" href="#">Действия</a>
                </li>
                <li class="nav-item">
                    <a id="userLogsTabsMessages" class="nav-link" href="#">Сообщения</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div>
                <ul id="userLogsBodyActions" class="list-group">
                    <li class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Выберите план обучения</h5>
                        </div>
                        <div class="mb-3">
                            <p>Кнопка выбора плана обучения находится в левом верхнем углу страницы<br>
                                После выбора плана будет выведена информация о действиях пользователей</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="d-none" id="userLogsBodyMessages"></div>
        </div>
        <div id="userLogsBodySpinner" class="row mt-3 d-none d-flex justify-content-center">
            <div class="spinner-border text-primary mb-1" role="status">
                <span class="visually-hidden" style="width: 3rem; height: 3rem;">Загрузка данных</span>
            </div>
        </div>
    </div>
    {% include 'user_logs_offcanvas_lp.html' %}
{% endblock %}
{% block static_js %}
    <script src="{% static 'js/list_utils.js' %}"></script>
    <script src="{% static 'js/user_logs/user_logs_api.js' %}"></script>
    <script src="{% static 'js/plans/plans_api.js' %}"></script>
    <script src="{% static 'js/user_logs/user_logs_offcanvas_lp.js' %}"></script>
    <script src="{% static 'js/user_logs/user_logs.js' %}"></script>
{% endblock %}