<div class="offcanvas offcanvas-start" tabindex="-1" id="userLogsOffcanvasLP">
    <div class="offcanvas-header">
        <h5>Выберите план обучения</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <div class="mb-3">
            <input type="text" class="form-control" id="userLogsOffcanvasLPSearchField" placeholder="Поиск: " aria-label="">
        </div>
        <div id="userLogsOffcanvasLPList" class="list-group"></div>
    </div>
</div>