{% extends 'ma_base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-3">
        <div class="input-group flex-nowrap mb-3">
            <input id="maScheduleFilterName" type="text" class="form-control" placeholder="Поиск" aria-label="Поиск" aria-describedby="addon-wrapping">
            <select id="maScheduleFilterRole" class="form-select" aria-label="">
                <option value="all" selected>Все</option>
                <option value="teachers">Преподаватели</option>
                <option value="listeners">Ученики</option>
            </select>
        </div>

        <div class="list-group" id="maScheduleUsersList"></div>
    </div>
{% endblock %}
{% block static_js %}
    <script>
        const maScheduleMe = {% if me %}true{% else %}false{% endif %}
    </script>
    <script src="{% static 'js/users/users_api.js' %}"></script>
    <script src="{% static 'js/lessons/lessons_api.js' %}"></script>
    <script src="{% static 'js/lessons/ma/schedule_select.js' %}"></script>
{% endblock %}