<div class="modal fade" tabindex="-1" id="lessonItemRestoresModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Восстановление из программы обучения (шаблона)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="lessonItemRestoresModalForm">
                    {% csrf_token %}
                    <div class="form-check form-switch mb-3">
                        <input name="info" class="form-check-input" type="checkbox" id="lessonItemRestoresModalFormInfo">
                        <label class="form-check-label" for="lessonItemRestoresModalFormInfo">Общая информация</label>
                        <div class="form-text">Восстановление наименования занятия и его описания<br>Доступно в любом случае</div>
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input name="materials" class="form-check-input" type="checkbox" id="lessonItemRestoresModalFormMaterials">
                        <label class="form-check-label" for="lessonItemRestoresModalFormMaterials">Материалы</label>
                        <div class="form-text">Восстановление материалов занятия<br>Доступно на не отменённом занятии</div>
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input name="homeworks" class="form-check-input" type="checkbox" id="lessonItemRestoresModalFormHW">
                        <label class="form-check-label" for="lessonItemRestoresModalFormHW">Домашние задания</label>
                        <div class="form-text">Восстановление домашних заданий<br>Доступно только на не проведённом занятии</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button id="lessonItemRestoreModalButton" type="button" class="btn btn-warning">Восстановить</button>
            </div>
        </div>
    </div>
</div>