{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-xxl mt-4 mb-3">
        <h1>{{ title }}</h1>
    </div>

    <div class="container-xxl">
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link active" href="#" id="supportWSGIErrorsAll">Все</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="supportWSGIErrorsNew">Новые</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="supportWSGIErrorsProcessing">В работе</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="supportWSGIErrorsFixed">Исправлено</a>
            </li>
            <li class="nav-item">
                <button id="supportWSGIErrorsTableFilterResetAll" type="button" class="btn btn-sm btn-outline-danger mx-1" role="button"><i class="bi bi-funnel-fill"></i>Сбросить</button>
                <button id="supportWSGIErrorsSelectedSetStatusProcessing" type="button" class="btn btn-sm btn-outline-warning mx-1" role="button" disabled><i class="bi bi-bug"></i></i>В работу</button>
                <button id="supportWSGIErrorsSelectedSetStatusReady" type="button" class="btn btn-sm btn-outline-success mx-1" role="button" disabled><i class="bi bi-check-lg"></i>Выполнено</button>
            </li>
        </ul>

        <div class="container-xxl">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" {% if not can_change %}class="d-none"{% endif %}>
                        <input class="form-check-input" type="checkbox" id="supportWSGIErrorsTableSelect">
                        <label class="form-check-label" for="supportWSGIErrorsTableSelect" id="supportWSGIErrorsTableSelectLabel">
                            (0)
                        </label>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <b>Дата и время</b></button>
                            <ul class="dropdown-menu" style="min-width: 320px;">
                                <li class="input-group px-1 mb-1">
                                    <span class="input-group-text">Начало</span>
                                    <input id="supportWSGIErrorsFilteringDateStart" type="date" class="form-control form-control-sm" aria-label="date start">
                                    <button id="supportWSGIErrorsFilteringDateStartErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                                <li class="input-group px-1">
                                    <span class="input-group-text">Конец</span>
                                    <input id="supportWSGIErrorsFilteringDateEnd" type="date" class="form-control form-control-sm" aria-label="date end">
                                    <button id="supportWSGIErrorsFilteringDateEndErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <b>Пользователь</b></button>
                            <ul id="supportWSGIErrorsFilteringUserList" class="dropdown-menu" style="min-width: 250px;">
                                <li class="input-group px-1">
                                    <input id="supportWSGIErrorsFilteringUserSearch" type="text" class="form-control form-control-sm" placeholder="Поиск: " aria-label="">
                                    <button id="supportWSGIErrorsFilteringUserSearchErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <b>Метод</b></button>
                            <ul id="supportWSGIErrorsFilteringMethodList" class="dropdown-menu" style="min-width: 250px;"> </ul>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <b>Код</b></button>
                            <ul id="supportWSGIErrorsFilteringCodeList" class="dropdown-menu" style="min-width: 250px;"></ul>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <b>URL</b></button>
                            <ul class="dropdown-menu" style="min-width: 250px;">
                                <li class="input-group px-1">
                                    <input id="supportWSGIErrorsFilteringURLField" type="text" class="form-control form-control-sm" placeholder="Поиск: " aria-label="">
                                    <button id="supportWSGIErrorsFilteringURLFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col">Действие</th>
                </tr>
                </thead>
                <tbody id="supportWSGIErrorsTableBody"></tbody>
            </table>
        </div>
    </div>
    {% include 'support_wsgilogs_modal.html' %}
{% endblock %}
{% block static_js %}
    <script>
        const supportWSGIErrorsCanChange = {% if can_change %} true {% else %} false {% endif %}
    </script>
    <script src="{% static 'js/users/users_api.js' %}"></script>
    <script src="{% static 'js/support/support_api.js' %}"></script>
    <script src="{% static 'js/support/wsgilogs/wsgilogs.js' %}"></script>
{% endblock %}