<div class="modal" id="PlansItemPhaseLessonModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="PlansItemPhaseLessonModalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="PlansItemPhaseLessonModalForm" class="mb-3">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="PlansItemPhaseLessonModalNameField" class="form-label">Наименование</label>
                        <input name="name" type="text" class="form-control" id="PlansItemPhaseLessonModalNameField">
                        <div class="form-text">Наименование для урока<br>Обязательно к заполнению</div>
                        <div id="PlansItemPhaseLessonModalNameError" class="invalid-feedback"></div>
                    </div>

                    <div class="mb-3">
                        <label for="PlansItemPhaseLessonModalDescriptionField" class="form-label">Описание</label>
                        <textarea name="description" type="text" class="form-control" id="PlansItemPhaseLessonModalDescriptionField" rows="3"></textarea>
                        <div class="form-text">Краткое описание урока<br>Необязательно к заполнению</div>
                        <div id="PlansItemPhaseLessonModalDescriptionError" class="invalid-feedback"></div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="PlansItemPhaseLessonModalStartField" class="form-label">Начало</label>
                            <input name="start_time" type="time" class="form-control" id="PlansItemPhaseLessonModalStartField">
                        </div>

                        <div class="col">
                            <label for="PlansItemPhaseLessonModalEndField" class="form-label">Окончание</label>
                            <input name="end_time" type="time" class="form-control" id="PlansItemPhaseLessonModalEndField">
                        </div>

                        <div class="col">
                            <label for="PlansItemPhaseLessonModalDateField" class="form-label">Дата</label>
                            <input name="date" type="date" class="form-control" id="PlansItemPhaseLessonModalDateField">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="PlansItemPhaseLessonModalPlaceField" class="form-label">Место проведения</label>
                        <select name="place" type="text" class="form-control" id="PlansItemPhaseLessonModalPlaceField">
                        </select>
                        <div class="form-text">Место проведения урока<br>Необязательно к заполнению</div>
                        <div id="PlansItemPhaseLessonModalPlaceError" class="invalid-feedback"></div>
                    </div>
                </form>

                <div class="alert alert-primary d-flex align-items-center" role="alert">
                    <div>
                        Добавить материалы, поставить замену и задать домашнее задание Вы сможете на странице урока
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="PlansItemPhaseLessonModalSaveButton" data-phase-id="" data-lesson-id="">Сохранить</button>
            </div>
        </div>
    </div>
</div>