<div class="modal" id="planItemPhaseLessonModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="planItemPhaseLessonModalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="planItemPhaseLessonModalForm" class="mb-3">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="planItemPhaseLessonModalNameField" class="form-label">Наименование</label>
                        <input name="name" type="text" class="form-control" id="planItemPhaseLessonModalNameField">
                        <div class="form-text">Наименование для занятия<br>Обязательно к заполнению</div>
                        <div id="planItemPhaseLessonModalNameError" class="invalid-feedback"></div>
                    </div>

                    <div class="mb-3">
                        <label for="planItemPhaseLessonModalDescriptionField" class="form-label">Описание</label>
                        <textarea name="description" type="text" class="form-control" id="planItemPhaseLessonModalDescriptionField" rows="3"></textarea>
                        <div class="form-text">Краткое описание занятия<br>Необязательно к заполнению</div>
                        <div id="planItemPhaseLessonModalDescriptionError" class="invalid-feedback"></div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="planItemPhaseLessonModalStartField" class="form-label">Начало</label>
                            <input name="start_time" type="time" class="form-control" id="planItemPhaseLessonModalStartField">
                        </div>

                        <div class="col">
                            <label for="planItemPhaseLessonModalEndField" class="form-label">Окончание</label>
                            <input name="end_time" type="time" class="form-control" id="planItemPhaseLessonModalEndField">
                        </div>

                        <div class="col">
                            <label for="planItemPhaseLessonModalDateField" class="form-label">Дата</label>
                            <input name="date" type="date" class="form-control" id="planItemPhaseLessonModalDateField">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="planItemPhaseLessonModalPlaceField" class="form-label">Место проведения</label>
                        <select name="place" type="text" class="form-control" id="planItemPhaseLessonModalPlaceField">
                        <option value="None">Не выбрано</option>
                        </select>
                        <div class="form-text">Место проведения занятия<br>Необязательно к заполнению</div>
                        <div id="planItemPhaseLessonModalPlaceError" class="invalid-feedback"></div>
                    </div>
                </form>

                <div class="alert alert-primary d-flex align-items-center" role="alert">
                    <div>
                        Добавить материалы, поставить замену и задать домашнее задание Вы сможете на странице занятия
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="planItemPhaseLessonModalSaveButton" data-phase-id="" data-lesson-edit-id="">Сохранить</button>
            </div>
        </div>
    </div>
</div>