<div class="modal" tabindex="-1" id="plansItemSetStatusModal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Завершение обучения</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                После завершения обучения все непроведённые занятия и домашние задания к ним будут удалены<br>
                <b>ДЕЙСТВИЕ НЕОБРАТИМО</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button id="plansItemSetStatusModalConfirmButton" type="button" class="btn btn-danger">Завершить</button>
            </div>
        </div>
    </div>
</div>