{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-xxl mt-4 mb-3">
        <div class="row justify-content-between">
            <div class="col-auto">
                <h1>{{ title }}</h1>
            </div>
            <div class="col-auto">
                {% if can_generate_from_program %}
                    <button id="PlansItemGenerateButton" type="button" class="btn btn-primary mt-1" data-bs-toggle="modal" data-bs-target="#plansItemFromProgramModal">Сгенерировать из программы</button>
                    {% include 'modals_program.html' %}
                {% endif %}
            </div>
        </div>
    </div>


    <div class="container-xxl">
        <div class="row">
            <div class="col-6">
                <div class="card mb-3">
                    <div class="card-header">План обучения</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% if plan.purpose %}
                                <li class="list-group-item">Цель: {{ plan.purpose }}</li>
                            {% else %}
                                <li class="list-group-item">Цель: отсутсвует</li>
                            {% endif %}
                            {% if plan.deadline %}
                                <li class="list-group-item">Срок: {{ plan.deadline }}</li>
                            {% else %}
                                <li class="list-group-item">Срок: не установлен</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">Статистика</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Этапов всего: {{ plan.phases.count }}</li>
                            <li class="list-group-item">Этапов пройдено:</li>
                            <li class="list-group-item">Занятий всего:</li>
                            <li class="list-group-item">Занятий пройдено:</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mb-3">
                    <div class="card-header">Преподаватели</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Занятия: </b><a href="/profile/{{ plan.teacher.id }}">{{ plan.teacher }}</a></li>
                        </ul>
                        {% if plan.default_hw_teacher %}
                            <li class="list-group-item"><b>ДЗ: </b><a href="/profile/{{ plan.default_hw_teacher.id }}">{{ plan.default_hw_teacher }}</a></li>
                        {% else %}
                            <li class="list-group-item"><b>ДЗ: </b><a href="/profile/{{ plan.teacher.id }}">{{ plan.teacher }}</a></li>
                        {% endif %}
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">Ученики</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for listener in plan.listeners.all %}
                                <li class="list-group-item"><a href="/profile/{{ listener.id }}">{{ listener }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">Настройки</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {%  if plan.show_lessons %}
                                <li class="list-group-item">Занятия видны ученику за <b>{{ plan.show_lessons }}</b> дней</li>
                            {% else %}
                                <li class="list-group-item">Занятия видны ученику за <b>7</b> дней</li>
                            {% endif %}
                            {% if plan.show_materials %}
                                <li class="list-group-item">Материалы видны ученику за <b>{{ plan.show_materials }}</b> дней</li>
                            {% else %}
                                <li class="list-group-item">Материалы видны ученику по факту начала занятия</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="my-3">
                <h1>Этапы:</h1>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Наименование</th>
                    <th scope="col">Цель</th>
                    <th scope="col">Действие</th>
                </tr>
                </thead>
                <tbody id="PlansItemTableBody"></tbody>
            </table>
        </div>
    </div>
    {% if can_edit_plan %}
        {% include 'modal_phase.html' %}
        {% include 'phase_modal_delete.html' %}
        {% include 'modal_lesson.html' %}
        {% include 'lesson_modal_delete.html' %}
        {% include 'toast.html' %}
    {% endif %}
{% endblock %}
{% block static_js %}
    <script>
        const csrftoken = '{{ csrf_token }}'
        const planID = {{ plan.id }}
    </script>
    <script src="{% static 'js/toasts.js' %}"></script>
    <script src="{% static 'js/apitostr.js' %}"></script>
    <script src="{% static 'js/plans/plans_api.js' %}"></script>
    <script src="{% static 'js/plans/plans_item/plans_item_main.js' %}"></script>
    {% if can_edit_plan %}
        <script>
            const canEditPlan = true
        </script>
        <script src="{% static 'js/automaticAPI.js' %}"></script>
        <script src="{% static 'js/collections/collections_api.js' %}"></script>
        <script src="{% static 'js/plans/plans_item/plans_item_listeners.js' %}"></script>
        <script src="{% static 'js/plans/plans_item/plans_item_phase.js' %}"></script>
        <script src="{% static 'js/plans/plans_item/plans_item_lesson.js' %}"></script>

        {% if can_generate_from_program %}
            <script src="{% static 'js/programs/programsAPI.js' %}"></script>
            <script src="{% static 'js/plans/plans_item/plans_item_from_program.js' %}"></script>
        {% endif %}
    {% else %}
        <script>
            const canEditPlan = false
        </script>
    {% endif %}

{% endblock %}