<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNewPlan">
    <div class="offcanvas-header">
        <h5 id="offcanvasNewMaterial">Новый план обучения</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <form id="formNewPlan">
            {% csrf_token %}

            <div class="mb-3">
                <label for="PlanNewNameField" class="form-label">Наименование</label>
                <input name="name" type="text" class="form-control" id="PlanNewNameField">
                <div class="form-text">Наименование плана. Должно быть уникальным</div>
                <div class="invalid-feedback" id="PlanNewNameError"></div>
            </div>

            <div class="mb-3">
                <label for="PlanNewTeacherField" class="form-label">Преподаватель</label>
                <select name="teacher" class="form-select" id="PlanNewTeacherField" data-dselect-search="true"></select>
                <div class="form-text">Выберите из выпадающего списка</div>
                <div class="invalid-feedback" id="PlanNewTeacherError"></div>
            </div>

            <div class="mb-3">
                <label for="PlanNewHWTeacherField" class="form-label">Проверяющий ДЗ</label>
                <select name="default_hw_teacher" class="form-select" id="PlanNewHWTeacherField" data-dselect-search="true"></select>
                <div class="form-text">Выберите из выпадающего списка</div>
                <div class="invalid-feedback" id="PlanNewHWTeacherError"></div>
            </div>

            <div class="mb-3">
                <label for="PlanNewPurposeField" class="form-label">Цель плана</label>
                <input name="purpose" type="text" class="form-control" id="PlanNewPurposeField">
                <div class="form-text">Каких результатов необходимо достичь<br>Необязательно к заполнению</div>
                <div class="invalid-feedback" id="PlanNewPurposeError"></div>
            </div>

            <div class="mb-3">
                <label for="PlanNewDeadlineField" class="form-label">Сроки</label>
                <input name="deadline" type="date" class="form-control" id="PlanNewDeadlineField">
                <div class="form-text">За какой срок необходимо выполнить план<br>Необязательно к заполнению</div>
                <div class="invalid-feedback" id="PlanNewDeadlineError"></div>
            </div>

            <div>
                <label for="PlanNewListenersSearchField" class="form-label">Ученики</label>
                <input type="text" class="form-control" id="PlanNewListenersSearchField" placeholder="Поиск по ученикам:">
            </div>
            <div class="mb-3">
                <select id="PlanNewListenersSelect" name="listeners" class="form-select" multiple></select>
                <div class="form-text">Зажмите CTRL для выбора нескольких</div>
                <div class="invalid-feedback" id="PlanNewListenersError"></div>
            </div>

            <div class="mb-3">
                <label for="PlanNewShLessonsField" class="form-label">Видимость уроков за:</label>
                <input name="show_lessons" type="number" class="form-control" id="PlanNewShLessonsField">
                <div class="form-text">За сколько дней ученик будет видеть урок (по умолчанию 7)</div>
                <div class="invalid-feedback" id="PlanNewShLessonsError"></div>
            </div>

            <div class="mb-3">
                <label for="PlanNewShMaterialsField" class="form-label">Видимость материалов за:</label>
                <input name="show_materials" type="number" class="form-control" id="PlanNewShMaterialsField">
                <div class="form-text">За сколько дней ученик будет видеть материалы к уроку (по умолчанию в день урока)</div>
                <div class="invalid-feedback" id="PlanNewShMaterialsError"></div>
            </div>

            <button class="btn btn-primary" id="PlanNewSubmitAndGoButton" type="button" data-plan-id="">Сохранить и перейти</button>
            <button class="btn btn-primary" id="PlanNewSubmitButton" type="button" data-plan-id="">Сохранить</button>
        </form>
    </div>
</div>