{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-xxl mt-4 mb-3">
        <div class="row justify-content-between">
            <div class="col-auto">
                <h1>Планы обучения</h1>
            </div>
            <div class="col-auto">
                {% if can_download %}
                    <button id="plansDownloadInfo" type="button" class="btn btn-warning mt-1" disabled><i class="bi bi-file-earmark-spreadsheet"></i> Выгрузить</button>
                    {% include 'plans_modal_download.html' %}
                {% endif %}
                <button id="plansFilterEraseAll" type="button" class="btn btn-danger mt-1"><i class="bi bi-funnel-fill"></i> Сбросить</button>
                {% if perms.lesson.edit_plans_self %}
                    <button id="PlansAddButton" type="button" class="btn btn-primary mt-1" data-bs-toggle="offcanvas" href="#offcanvasNewPlan" role="button"><i class="bi bi-plus-lg"></i></button>
                    {% include 'plans_offcanvas_new.html' %}
                    {% include 'plans_modal_delete.html' %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-xxl">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col" {% if not can_download %}class="d-none"{% endif %}>
                    <input class="form-check-input" type="checkbox" id="plansTableSelect">
                    <label class="form-check-label" for="plansTableSelect" id="plansTableSelectLabel">
                        (0)
                    </label>
                </th>
                <th scope="col">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                            Наименование
                            <span class="visually-hidden"></span></button>
                        <button id="plansFilterNameSort" type="button" class="btn btn-outline-secondary btn-sm"><i class="bi bi-chevron-bar-expand"></i></button>
                        <ul class="dropdown-menu" style="min-width: 250px;">
                            <li class="input-group px-1">
                                <input id="plansFilterNameField" type="text" class="form-control form-control-sm" placeholder="Поиск: " aria-label="">
                                <button id="plansFilterNameErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                            </li>
                        </ul>
                    </div>
                </th>
                <th scope="col">
                    <div class="btn-group">
                        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                            <b>Преподаватель</b></button>
                        <ul id="plansFilterTeacherList" class="dropdown-menu" style="min-width: 250px;">
                            <li class="input-group px-1">
                                <button id="plansFilterTeacherSearchFieldReset" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-x-lg"></i></button>
                                <input id="plansFilterTeacherSearchField" type="text" class="form-control form-control-sm" placeholder="Поиск: " aria-label="">
                                <button id="plansFilterTeacherSearchFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                            </li>
                        </ul>
                    </div>
                </th>
                <th scope="col">
                    <div class="btn-group">
                        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                            <b>Ученики</b></button>
                        <ul id="plansFilterListenerList" class="dropdown-menu" style="min-width: 250px;">
                            <li class="input-group px-1">
                                <button id="plansFilterListenerSearchFieldReset" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-x-lg"></i></button>
                                <input id="plansFilterListenerSearchField" type="text" class="form-control form-control-sm" placeholder="Поиск: " aria-label="">
                                <button id="plansFilterListenerSearchFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                            </li>
                        </ul>
                    </div>
                </th>
                <th scope="col">Действие</th>
            </tr>
            </thead>
            <tbody id="PlansTableBody"></tbody>
        </table>
    </div>
{% endblock %}
{% block static_js %}
    {% if can_download %}
        <script src="{% static 'js/plans/plans_main_download.js' %}"></script>
    {% endif %}
    <script>
        const userID = '{{ request.user.id }}'
        const plansCanDownload = {% if can_download %}true{% else %}false{% endif %}
    </script>
    <script src="{% static 'js/plans/plans_api.js' %}"></script>
    {% if perms.lesson.edit_plans_self %}
        {% if can_set_teacher %}
            <script>const plansAddCanSetTeacher = true</script>
        {% else %}
            <script>
                const plansAddCanSetTeacher = false
                const plansAddTeacher = {id: {{ request.user.id }},
                    name: "{{ request.user.first_name }} {{ request.user.last_name }}"}
            </script>
        {% endif %}
        <script src="{% static 'js/automaticAPI.js' %}"></script>
        <script src="{% static 'js/users/users_api.js' %}"></script>
        <script src="{% static 'js/plans/plans_add/plans_add_validation.js' %}"></script>
        <script src="{% static 'js/plans/plans_add/plans_add_edit_delete.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/plans/plans_main.js' %}"></script>
    <script src="{% static 'js/plans/plans_main_filter.js' %}"></script>
{% endblock %}