{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-xxl mt-4 mb-3">
        <div class="row justify-content-between">
            <div class="col-auto">
                <h1>Планы обучения</h1>
            </div>
            <div class="col-auto">
                <button id="PlansCollapseSearchButton" type="button" class="btn btn-primary mt-1"><i class="bi bi-search"></i></button>
                {% if perms.lesson.edit_plans_self %}
                    <button id="PlansAddButton" type="button" class="btn btn-primary mt-1" data-bs-toggle="offcanvas" href="#offcanvasNewPlan" role="button"><i class="bi bi-plus-lg"></i></button>
                    {% include 'plans_offcanvas_new.html' %}
                    {% include 'plans_modal_delete.html' %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-xxl">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Наименование</th>
                <th scope="col">Преподаватель</th>
                <th scope="col">Ученики</th>
                <th scope="col">Действие</th>
            </tr>
            </thead>
            <tbody id="PlansTableBody"></tbody>
        </table>
    </div>
{% endblock %}
{% block static_js %}
    <script>
        const userID = '{{ request.user.id }}'
    </script>
    <script src="{% static 'js/plans/plans_api.js' %}"></script>
    {% if perms.lesson.edit_plans_self %}
        {% if can_set_teacher %}
            <script>const plansAddCanSetTeacher = true</script>
        {% else %}
            <script>
                const plansAddCanSetTeacher = false
                const plansAddTeacher = {id: {{ request.user.id }},
                    name: "{{ request.user.first_name }} {{ request.user.last_name }}"}
            </script>
        {% endif %}
        <script src="{% static 'js/automaticAPI.js' %}"></script>
        <script src="{% static 'js/users/users_api.js' %}"></script>
        <script src="{% static 'js/plans/plans_add/plans_add_validation.js' %}"></script>
        <script src="{% static 'js/plans/plans_add/plans_add_edit_delete.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/plans/plans_main.js' %}"></script>
{% endblock %}