<div class="offcanvas offcanvas-end" tabindex="-1" id="materialsToHWOffcanvas">
    <div class="offcanvas-header">
        <h5>Новое домашнее задание</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <form id="materialsToHWOffcanvasForm">
            {% csrf_token %}

            <div class="mb-3">
                <label for="materialsToHWOffcanvasNameField" class="form-label">Наименование</label>
                <input name="name" type="text" class="form-control" id="materialsToHWOffcanvasNameField">
                <div class="form-text">Наименование домашнего задания. Обязательно к заполнению</div>
                <div class="invalid-feedback" id="materialsToHWOffcanvasNameError"></div>
            </div>

            <div class="mb-3">
                <label for="materialsToHWOffcanvasDescriptionField" class="form-label">Описание</label>
                <textarea name="description" type="text" class="form-control" rows="3" id="materialsToHWOffcanvasDescriptionField"></textarea>
                <div class="form-text">Опишите, что необходимо сделать для получения зачёта. Обязтельно к заполнению</div>
                <div class="invalid-feedback" id="materialsToHWOffcanvasDescriptionError"></div>
            </div>

            <div class="card mb-3">
                <div class="card-header">Материалы</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush" id="materialsToHWOffcanvasMaterialsList"></ul>
                </div>
            </div>

            <button class="btn btn-primary" id="materialsToHWOffcanvasSaveButton" type="button">Сохранить</button>
        </form>
    </div>
</div>