{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-xxl mt-4 mb-3">
        <div class="row row justify-content-between">
            <div class="col-auto">
                <h1>Материалы</h1>
            </div>
            <div class="col-auto">
                <button id="MaterialsCollapseSearchButton" type="button" class="btn btn-primary mt-1" data-bs-toggle="collapse" data-bs-target="#MaterialsCollapseSearch"><i class="fa-solid fa-magnifying-glass"></i></button>
                {% if perms.material.add_personal %}
                    <button id="offcanvasNewMaterialButton" type="button" class="btn btn-primary mt-1" data-bs-toggle="offcanvas" href="#offcanvasNewMaterial" role="button"><i class="fa-solid fa-plus"></i></button>
                    {% include 'materials_offcanvas_new.html' %}
                    {% include 'materials_modal_text.html' %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="collapse mb-3" id="MaterialsCollapseSearch">
        <div class="card card-body">
            <form id="MaterialsCollapseSearchForm">
                <div class="row g-3">
                    <div class="col-md-8">
                        <input name="name" id="MaterialsCollapseSearchName" type="text" class="form-control" placeholder="Наименование">
                    </div>
                    <div class="col-md-4">
                        <select name="category" id="MaterialsCollapseSearchCategory" class="form-select"></select>
                    </div>
                    <div class="col-md-5">
                        <input name="owner" id="MaterialsCollapseSearchOwner" type="text" class="form-control" placeholder="Владелец">
                    </div>
                    <div class="col-md-3">
                        <select name="level" id="MaterialsCollapseSearchLevel" class="form-select"></select>
                    </div>
                    <div class="col-md-3">
                        <select name="type" id="MaterialsCollapseSearchType" class="form-select">
                            <option selected value="none">Тип</option>
                            <option value="pdf">PDF документ</option>
                            <option value="gif">Анимация</option>
                            <option value="archive">Архив</option>
                            <option value="audio">Аудио</option>
                            <option value="video">Видео</option>
                            <option value="image">Изображение</option>
                            <option value="presentation">Презентации</option>
                            <option value="text">Текст</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button id="MaterialsCollapseSearchClearButton" type="button" class="btn btn-primary" role="button"><i class="fa-solid fa-eraser"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container-xxl">
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link active" href="#" id="MaterialsTabGeneral">Общие</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="MaterialsTabMy">Мои</a>
            </li>
        </ul>

        <div class="container-xxl">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Наименование<button id="MaterialTableSortNameButton" type="button" class="btn btn-outline-primary btn-sm ms-2" data-sorted="asc"><i class="fa-solid fa-sort"></i></button></th>
                    <th scope="col">Категория</th>
                    <th scope="col">Уровень</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Владелец</th>
                    <th scope="col">Действие</th>
                </tr>
                </thead>
                <tbody id="MaterialTableBody"></tbody>
            </table>
        </div>
    </div>
    {% include 'toast.html' %}
    {% include 'materials_modal_telegram.html' %}

{% endblock %}
{% block static_js %}
    <script>
        const csrftoken = '{{ csrf_token }}'
        const user_id = {{ request.user.id }}
        const add_personal = {% if perms.material.add_personal %}true{% else %}false{% endif %}
        const add_general = {% if perms.material.add_general %}true{% else %}false{% endif %}
        const send_tg = {% if perms.material.send_telegram %}true{% else %}false{% endif %}
        const see_general = {% if perms.material.see_all_general %}true{% else %}false{% endif %}
        const new_lvl_cat = {% if perms.material.add_new_cat %}true{% else %}false{% endif %}
        const mediaFormats = {
            imageFormats: {{ material_formats.image_formats | safe }},
            videoFormats: {{ material_formats.video_formats | safe }},
            animationFormats: {{ material_formats.animation_formats | safe }},
            archiveFormats: {{ material_formats.archive_formats | safe }},
            pdfFormats: {{ material_formats.pdf_formats | safe }},
            voiceFormats: {{ material_formats.voice_formats | safe }},
            audioFormats: {{ material_formats.audio_formats | safe }},
            textFormats: {{ material_formats.text_formats | safe }},
            presentationFormats: {{ material_formats.presentation_formats | safe }}
        }
        let material_id
        const materialAction = 'add'
    </script>
    <script src="{% static 'js/toasts.js' %}"></script>
    <script src="{% static 'js/apitostr.js' %}"></script>
    <script src="{% static 'js/collections/collections_api.js' %}"></script>
    <script src="{% static 'js/materials/materials_api.js' %}"></script>
    <script src="{% static 'js/telegram/telegram_main.js' %}"></script>
    <script src="{% static 'js/materials/materials_add.js' %}"></script>
    <script src="{% static 'js/materials/materials_serach.js' %}"></script>
    <script src="{% static 'js/materials/materials_telegram.js' %}"></script>
    <script src="{% static 'js/materials/materials.js' %}"></script>
{% endblock %}