<div class="modal modal-lg" tabindex="-1" id="MaterialsEmbedModal" data-material-id="">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Выбор материалов</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="MaterialsEmbedModalSearchForm">
                    <div class="row mb-3">
                        <div class="col-6">
                            <input aria-label="Наименование" type="text" name="name" class="form-control" id="MaterialsEmbedModalSearchName" placeholder="Наименование">
                        </div>
                        <div class="col-6">
                            <input aria-label="Владелец" type="text" name="owner" class="form-control" id="MaterialsEmbedModalSearchOwner" placeholder="Владелец">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <select name="category" id="MaterialsEmbedModalSearchCategory" class="form-select" aria-label="Категория">
                                <option selected>Категория</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <select name="level" id="MaterialsEmbedModalSearchLevel" class="form-select" aria-label="Уровень">
                                <option selected>Уровень</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <select name="type" id="MaterialsEmbedModalSearchType" class="form-select" aria-label="Тип">
                                <option value="none" selected>Тип</option>
                                <option value="pdf">PDF документ</option>
                                <option value="animation">Анимация</option>
                                <option value="archive">Архив</option>
                                <option value="video">Видео</option>
                                <option value="image">Изображение</option>
                            </select>
                        </div>
                        <div class="col-1 mx-a">
                            <button id="MaterialsEmbedModalSearchClearButton" type="button" class="btn btn-primary" role="button"><i class="bi bi-eraser"></i></button>
                        </div>
                    </div>
                </form>
                <form id="MaterialsEmbedModalTableForm">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col"><i class="bi bi-check-square"></i></th>
                            <th scope="col">Наименование</th>
                            <th scope="col">Категория</th>
                            <th scope="col">Уровень</th>
                            <th scope="col">Тип</th>
                            <th scope="col">Владелец</th>
                        </tr>
                        </thead>
                        <tbody id="MaterialsEmbedModalTableBody"></tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button id="MaterialsEmbedModalAddButton" type="button" class="btn btn-primary">Добавить</button>
            </div>
        </div>
    </div>
</div>