{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-xxl mt-4 mb-3">
        <div class="row row justify-content-between">
            <div class="col-auto">
                <h1>Материалы</h1>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary mt-1"><i class="fa-solid fa-magnifying-glass"></i></button>
                <button type="button" class="btn btn-primary mt-1" data-bs-toggle="offcanvas" href="#offcanvasNewMaterial" role="button" aria-controls="offcanvasRegister"><i class="fa-solid fa-plus"></i></button>
                {% include 'offcanvas_new.html' %}
            </div>
        </div>
    </div>

    <div class="container-xxl">
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link active" href="#" id="MaterialsTabGeneral">Общие</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="MaterialsTabMy">Мои</a>
            </li>
        </ul>

        <div class="container-xxl">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Наименование</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Владелец</th>
                    <th scope="col">Действие</th>
                </tr>
                </thead>
                <tbody id="MaterialTableBody"></tbody>
            </table>
        </div>
    </div>
{% include 'toast.html' %}
{% include 'modal_telegram.html' %}
{% endblock %}
{% block static_js %}
    <script>
        var csrftoken = '{{ csrf_token }}';
    </script>
    <script src="{% static 'js/toasts.js' %}"></script>
    <script src="{% static 'js/materials/materials.js' %}"></script>
{% endblock %}