{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-xxl mt-4 mb-3">
        <div class="row justify-content-between">
            <div class="col-auto">
                <h1>Материалы</h1>
            </div>
            <div class="col-auto">
                {% if perms.material.add_personal %}
                    <button id="offcanvasNewMaterialButton" type="button" class="btn btn-primary mt-1" data-bs-toggle="offcanvas" href="#offcanvasNewMaterial" role="button"><i class="bi bi-plus-lg"></i></button>
                    {% include 'materials_offcanvas_new.html' %}
                    {% include 'materials_modal_text.html' %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-xxl">

        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link" href="#" id="MaterialsTabGeneral">Общие</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="MaterialsTabMy">Мои</a>
            </li>
            <li class="nav-item">
                <button id="materialsTabActionsShowButton" type="button" class="btn btn-sm btn-outline-primary mx-1" role="button"><i class="bi bi-eye"></i></button>
                <button id="materialTableFilterResetAll" type="button" class="btn btn-sm btn-outline-danger mx-1" role="button"><i class="bi bi-funnel-fill"></i>Сбросить</button>
                <button id="materialsTableFilterPrograms" type="button" class="btn btn-sm btn-outline-primary mx-2" role="button" data-bs-toggle="collapse" data-bs-target="#materialTableFilterProgramsCollapse"><i class="bi bi-book"></i> Программы</button>
            </li>
        </ul>

        <div class="collapse mb-4" id="materialTableFilterProgramsCollapse">
            <div class="row">
                <div id="materialTableFilterProgramsProglist" class="col-4">
                    <h4 style="color: gray;">Программа:</h4>
                    <div class="input-group px-1">
                        <button id="materialTableFilterProgramsProglistSearchCancel" type="button" class="btn btn-outline-danger"><i class="bi bi-x-lg"></i></button>
                        <input id="materialTableFilterProgramsProglistSearch" type="text" class="form-control" placeholder="Поиск: ">
                        <button id="materialTableFilterProgramsProglistSearchErase" type="button" class="btn btn-outline-danger"><i class="bi bi-eraser"></i></button>
                    </div>
                    <div class="list-group"></div>
                </div>
                <div id="materialTableFilterProgramsPhaselist" class="col-4 d-none">
                    <h4 style="color: gray;">Этап:</h4>
                    <div class="input-group px-1">
                        <button id="materialTableFilterProgramsPhaselistSearchCancel" type="button" class="btn btn-outline-danger"><i class="bi bi-x-lg"></i></button>
                        <input id="materialTableFilterProgramsPhaselistSearch" type="text" class="form-control" placeholder="Поиск: ">
                        <button id="materialTableFilterProgramsPhaselistSearchErase" type="button" class="btn btn-outline-danger"><i class="bi bi-eraser"></i></button>
                    </div>
                    <div class="list-group"></div>
                </div>
                <div id="materialTableFilterProgramsLessonslist" class="col-4 d-none">
                    <h4 style="color: gray;">Урок:</h4>
                    <div class="input-group px-1">
                        <button id="materialTableFilterProgramsLessonlistSearchCancel" type="button" class="btn btn-outline-danger"><i class="bi bi-x-lg"></i></button>
                        <input id="materialTableFilterProgramsLessonlistSearch" type="text" class="form-control" placeholder="Поиск: ">
                        <button id="materialTableFilterProgramsLessonlistSearchErase" type="button" class="btn btn-outline-danger"><i class="bi bi-eraser"></i></button>
                    </div>
                    <div class="list-group"></div>
                </div>
            </div>
        </div>

        <div class="container-xxl">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col"><input class="form-check-input" type="checkbox" value="" id="materialTableSelectAll"></th>
                    <th scope="col">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">Наименование
                                <span class="visually-hidden"></span></button>
                            <button id="materialTableSortNameButton" type="button" class="btn btn-outline-secondary btn-sm" data-sorted="asc"><i class="bi bi-chevron-bar-expand"></i></button>
                            <ul class="dropdown-menu" style="min-width: 250px;">
                                <div class="input-group px-1">
                                    <input id="materialTableFilterNameField" type="text" class="form-control form-control-sm" placeholder="Поиск: ">
                                    <button id="materialTableFilterNameFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </div>
                            </ul>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                Категории</button>
                            <ul id="materialTableFilterCatList" class="dropdown-menu" style="min-width: 250px;">
                                <div class="input-group px-1">
                                    <input id="materialTableFilterCatSearchField" type="text" class="form-control form-control-sm" placeholder="Поиск: ">
                                    <button id="materialTableFilterCatSearchFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </div>
                            </ul>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                Уровень</button>
                            <ul id="materialTableFilterLevelList" class="dropdown-menu" style="min-width: 250px;">
                                <div class="input-group px-1">
                                    <input id="materialTableFilterLevelSearchField" type="text" class="form-control form-control-sm" placeholder="Поиск: ">
                                    <button id="materialTableFilterLevelSearchFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </div>
                            </ul>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                Тип</button>
                            <ul id="materialTableFilterTypeList" class="dropdown-menu" style="min-width: 250px;">
                                <div class="input-group px-1">
                                    <input id="materialTableFilterTypeSearchField" type="text" class="form-control form-control-sm" placeholder="Поиск: ">
                                    <button id="materialTableFilterTypeSearchFieldErase" type="button" class="btn btn-sm btn-outline-danger"><i class="bi bi-eraser"></i></button>
                                </div>
                                <li data-type-name="image_formats"><a class="dropdown-item" href="#">Изображение</a></li>
                                <li data-type-name="video_formats"><a class="dropdown-item" href="#">Видео</a></li>
                                <li data-type-name="animation_formats"><a class="dropdown-item" href="#">Анимация</a></li>
                                <li data-type-name="archive_formats"><a class="dropdown-item" href="#">Архив</a></li>
                                <li data-type-name="pdf_formats"><a class="dropdown-item" href="#">PDF-документ</a></li>
                                <li data-type-name="voice_formats"><a class="dropdown-item" href="#">Голосовое сообщение</a></li>
                                <li data-type-name="audio_formats"><a class="dropdown-item" href="#">Аудио</a></li>
                                <li data-type-name="text_formats"><a class="dropdown-item" href="#">Текст</a></li>
                                <li data-type-name="presentation_formats"><a class="dropdown-item" href="#">Презентация</a></li>
                            </ul>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="btn-group">
                            <button id="materialsTabActionsButton" disabled class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Действие
                            </button>
                            <ul class="dropdown-menu" style="width: 200px;">
                                <li class="my-1">
                                    <button id="materialsTabActionsTelegramButton" type="button" class="btn btn-primary" style="width: 200px;"><i class="bi bi-telegram"></i> Отправить</button>
                                </li>
                                <li class="my-1">
                                    <button id="materialsTabActionsEditButton" type="button" class="btn btn-warning" style="width: 200px;"><i class="bi bi-pencil"></i> Редактировать</button>
                                </li>
                                <li class="my-1">
                                    <button id="materialsTabActionsToHWButton" type="button" class="btn btn-primary" style="width: 200px;"><i class="bi bi-journal-plus"></i> Шаблон ДЗ</button>
                                </li>
                                <li class="my-1">
                                    <button id="materialsTabActionsDeleteButton" type="button" class="btn btn-danger" style="width: 200px;"><i class="bi bi-trash3"></i> Удалить</button>
                                </li>
                            </ul>
                        </div>

                    </th>
                </tr>
                </thead>
                <tbody id="MaterialTableBody"></tbody>
            </table>
        </div>
    </div>
    {% include 'toast.html' %}
    {% include 'materials_modal_telegram.html' %}
    {% include 'materials_modal_edit.html' %}
    {% include 'materials_offcanvas_hw.html' %}

{% endblock %}
{% block static_js %}
    <script>
        const csrftoken = '{{ csrf_token }}'
        const user_id = {{ request.user.id }}
        const add_personal = {% if perms.material.add_personal %}true{% else %}false{% endif %}
        const add_general = {% if perms.material.add_general %}true{% else %}false{% endif %}
        const send_tg = {% if perms.material.send_telegram %}true{% else %}false{% endif %}
        const see_general = {% if perms.material.see_all_general %}true{% else %}false{% endif %}
        const new_lvl_cat = {% if perms.material.add_new_cat %}true{% else %}false{% endif %}
        const mediaFormats = {
            imageFormats: {{ material_formats.image_formats | safe }},
            videoFormats: {{ material_formats.video_formats | safe }},
            animationFormats: {{ material_formats.animation_formats | safe }},
            archiveFormats: {{ material_formats.archive_formats | safe }},
            pdfFormats: {{ material_formats.pdf_formats | safe }},
            voiceFormats: {{ material_formats.voice_formats | safe }},
            audioFormats: {{ material_formats.audio_formats | safe }},
            textFormats: {{ material_formats.text_formats | safe }},
            presentationFormats: {{ material_formats.presentation_formats | safe }}
        }
        let material_id
        const materialAction = 'add'
    </script>
    <script src="{% static 'js/toasts.js' %}"></script>
    <script src="{% static 'js/apitostr.js' %}"></script>
    <script src="{% static 'js/collections/collections_api.js' %}"></script>
    <script src="{% static 'js/materials/materials_api.js' %}"></script>
    <script src="{% static 'js/telegram/telegram_api.js' %}"></script>
    <script src="{% static 'js/programs/programsAPI.js' %}"></script>
    <script src="{% static 'js/materials/materials_utils.js' %}"></script>
    <script src="{% static 'js/telegram/telegram_main.js' %}"></script>
    <script src="{% static 'js/materials/materials_add.js' %}"></script>
    <script src="{% static 'js/materials/materials_edit.js' %}"></script>
    <script src="{% static 'js/materials/materials_telegram.js' %}"></script>
    <script src="{% static 'js/materials/materials_to_hw.js' %}"></script>
    <script src="{% static 'js/materials/materials.js' %}"></script>
{% endblock %}